<div class="data" (click)="cleanScreen()">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 index">
        按钮管理
      </div>
    </div>
    <div class="row options">
      <div class="col-xs-12">
        <button type="button" class="btn btn-default" (click)="openModal(add, -1)"><span class="glyphicon glyphicon-plus"></span>增加</button>
        <button type="button" class="btn btn-default" (click)="delete()"><span class="glyphicon glyphicon-trash"></span>删除</button>
        <button type="button" class="btn btn-default" (click)="openModal(modify, -1)"><span class="glyphicon glyphicon-pencil"></span>修改</button>
        <span *ngIf="baseVar.gtOne" class="remind">请至少选择一项进行操作</span>
        <span *ngIf="baseVar.mustOne" class="remind">请选择一项进行操作</span>
      </div>
    </div>
    <div class="row content">
      <div class="col-xs-12">
        <table class="table table-responsive table-bordered">
          <thead>
          <tr>
            <th class="checkboxoption"><input type="checkbox" (click)="checkAll($event)">全选/全不选</th>
            <th>按钮编号</th>
            <th>按钮名称</th>
            <th>描述</th>
            <th>模块信息ID</th>
            <th>插入时间</th>
            <th>更新时间</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of datas; let i = index" (click)="openModal(lookdesc, i)" title="点击查看详情">
            <td><input type="checkbox"(click)="checkOne($event, data)"></td>
            <td>{{data['id']}}</td>
            <td>{{data['name']}}</td>
            <td>{{data['decription']}}</td>
            <td>{{data['mid']}}</td>
            <td>{{data['idt']}}</td>
            <td>{{data['udt']}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-xs-12">
        <app-paging  [num]="baseVar.totalPage" (pageBodyChange)="getPageBody($event)"></app-paging>
      </div>
    </div>
  </div>
</div>

<!--模态框-->
<ng-template #add>
  <div class="modal-header">
    <h4 class="modal-title pull-left">按钮增加</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" [formGroup]="addForm">
      <div class="form-group" *ngFor="let add of fieldsAdd">
        <label>{{add.name}}</label>
        <input [type]="add.type" class="form-control" formControlName="{{add.field}}" [class.hasError]="addForm.get(add.field).invalid && addForm.get(add.field).touched">
        <div class="validField" [hidden]="addForm.get(add.field).valid || addForm.get(add.field).untouched">
          <div *ngFor="let valid of add.validators">
            <span *ngIf="addForm.get(add.field).hasError(valid.validField)">{{valid.msg}}</span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>请选择所属设备: &nbsp;</label>
        <select #addEquipment (change)="selectAddModalId(addEquipment.value)" class="form-control">
          <option [value]="null">默认值为空，请选择</option>
          <option *ngFor="let modal of Fmodalid" [value]="modal.id">{{modal.name}}</option>
        </select>
      </div>
      <br>
    </form>
    <div class="clearfix"></div>
    <div class="text-center">
      <span *ngIf="baseVar.invalidInput" class="remind">无效输入,请检查你的输入</span>
    </div>
    <div class="text-center">
      <button type="button" class="btn btn-info" aria-label="Close" (click)="save()">
        确定增加
      </button>
      <button type="button" class="btn btn-danger" aria-label="Close" (click)="closeModal()">
        返回
      </button>
    </div>
    <br>
  </div>
</ng-template>
<ng-template #modify>
  <div class="modal-header">
    <h4 class="modal-title pull-left">按钮修改</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" [formGroup]="modifyForm">
      <div class="form-group" *ngFor="let modify of fieldsModify">
        <label>{{modify.name}}</label>
        <input [type]="modify.type" class="form-control" formControlName="{{modify.field}}" [class.hasError]="modifyForm.get(modify.field).invalid && modifyForm.get(modify.field).touched">
        <div [hidden]="modifyForm.get(modify.field).valid || modifyForm.get(modify.field).untouched"  class="validField">
          <div *ngFor="let valid of modify.validators">
            <span *ngIf="modifyForm.get(modify.field).hasError(valid.validField)">{{valid.msg}}</span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>所属设备: &nbsp;</label>
        <select #modifyEquipment (change)="selectModifyModalId(modifyEquipment.value)" class="form-control">
          <option *ngFor="let modal of Fmodalid" [selected]="modal.id === detail.mid" [value]="modal.id">{{modal.name}}</option>
        </select>
      </div>
      <br>
    </form>
    <div class="clearfix"></div>
    <div class="text-center">
      <span *ngIf="baseVar.invalidInput" class="remind">无效输入,请检查你的输入</span>
    </div>
    <div class="text-center">
      <button type="button" class="btn btn-info" aria-label="Close" (click)="update()">
        确定修改
      </button>
      <button type="button" class="btn btn-danger" aria-label="Close" (click)="closeModal()">
        返回
      </button>
    </div>
    <br>
  </div>
</ng-template>
<ng-template #lookdesc>
  <div class="modal-header">
    <h4 class="modal-title pull-left">按钮查看详情</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>按钮编号(唯一标识): {{detail['id']}}</p>
    <p>名称:{{detail['name']}}</p>
    <p>描述 :{{detail['decription']}}</p>
    <p>
      <span *ngFor="let f of Fmodalid" [hidden]="!(f.id === detail.mid)">模块ID :{{f['id']}}, &nbsp;&nbsp;模块名称 :{{f['name']}}</span>
    </p>
    <p>插入时间 :{{detail['idt']}}</p>
    <p>更新时间 :{{detail['udt']}}</p>
    <div class="clearfix"></div>
    <div class="text-center">
      <button type="button" class="btn btn-info" aria-label="Close" (click)="closeModal();openModal(modify, -1)">
        跳转到修改
      </button>
      <button type="button" class="btn btn-danger" aria-label="Close" (click)="closeModal()">
        返回
      </button>
    </div>
    <div class="clearfix"></div>
  </div>
</ng-template>

<div [hidden]="baseVar.openStatus">
  <div class="status text-center"  [class.success]="baseVar.state === 10" [class.fail]="baseVar.state === 11 || baseVar.state === 13 || baseVar.state === 12">
    <span>{{baseVar.resMsg}}</span>
  </div>
</div>
