<div class="productiondata" (click)="cleanScreen()">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 index">
        设备数据
      </div>
    </div>
    <div class="row options">
      <div class="col-xs-12">
        <button type="button" class="btn btn-default" (click)="openModal(add, -1)"><span class="glyphicon glyphicon-plus"></span>增加</button>
        <button type="button" class="btn btn-default" (click)="deleteProData()"><span class="glyphicon glyphicon-trash"></span>删除</button>
        <button type="button" class="btn btn-default" (click)="openModal(modify, -1)"><span class="glyphicon glyphicon-pencil"></span>修改</button>
        <span *ngIf="gtone" class="remind">请至少选择一项进行操作</span>
        <span *ngIf="mustone" class="remind">请选择一项进行操作</span>
      </div>
    </div>
    <div class="row content">
      <div class="col-xs-12">
        <table class="table table-responsive table-bordered">
          <thead>
          <tr>
            <th class="checkboxoption" ><input type="checkbox" checked="{{checked}}" (click)="getAllCheckBoxStatus($event)">全选/全不选</th>
            <th>设备id号</th>
            <th>名称</th>
            <th>厂家编号</th>
            <th>生产厂家</th>
            <th>设备型号</th>
            <th>生产日期</th>
            <th>安装日期</th>
            <th>额定功率</th>
            <th>额定电流</th>
            <th>额定电压</th>
            <th>使用状态</th>
            <th>设备类型</th>
            <th>设备运行状态</th>
            <th>所属模块id</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let prodata of datas; let i = index" (click)="openModal(lookdesc, i)" title="点击查看详情">
            <td><input type="checkbox" checked="{{checked}}" (click)="getCheckBoxStatus($event, i)"></td>
            <td>{{prodata.did}}</td>
            <td>{{prodata.name}}</td>
            <td>{{prodata.fnum}}</td>
            <td>{{prodata.dvender}}</td>
            <td>{{prodata.dmodule}}</td>
            <td>{{prodata.dprodate}}</td>
            <td>{{prodata.dinstalldate}}</td>
            <td>{{prodata.power}}</td>
            <td>{{prodata.current}}</td>
            <td>{{prodata.voltage}}</td>
            <td>{{prodata.usestatus}}</td>
            <td>{{prodata.dtype}}</td>
            <td>{{prodata.dstatus}}</td>
            <td>{{prodata.mid}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-xs-12">
        <app-paging  [num]="num" (pageBodyChange)="getPageBody($event)"></app-paging>
      </div>
    </div>
  </div>
</div>

<!--模态框-->
<ng-template #add>
  <div class="modal-header">
    <h4 class="modal-title pull-left">设备数据增加</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" [formGroup]="addForm">
      <div class="form-group" *ngFor="let add of fieldsAdd">
        <label>{{add.name}}</label>
        <input [type]="add.type" class="form-control" formControlName="{{add.field}}" [class.hasError]="addForm.get(add.field).invalid && addForm.get(add.field).touched">
        <div [hidden]="addForm.get(add.field).valid || addForm.get(add.field).untouched"  class="validField">
          <div *ngFor="let valid of add.validators">
            <span *ngIf="addForm.get(add.field).hasError(valid.validField)">{{valid.msg}}</span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>使用状态: &nbsp;</label>
        <select #a_usestatus (change)="selectUesStatus(a_usestatus.value, addForm)" class="form-control">
          <option value="">请选择</option>
          <option [value]="1">能使用</option>
          <option [value]="0">不能使用</option>
        </select>
      </div>
      <div class="form-group">
        <label>设备类型: &nbsp;</label>
        <select #a_dtype (change)="selectDType(a_dtype.value, addForm)" class="form-control">
          <option value="">请选择</option>
          <option [value]="1">机电类</option>
          <option [value]="0">其他</option>
        </select>
      </div>
      <div class="form-group">
        <label>设备运行状态: &nbsp;</label>
        <select #a_dstatus (change)="selectDStatus(a_dstatus.value, addForm)" class="form-control">
          <option value="">请选择</option>
          <option [value]="1">运行中...</option>
          <option [value]="0">未运行</option>
        </select>
      </div>
      <div class="form-group">
        <label>所属模块id: &nbsp;</label>
        <select #a_modalId (change)="selectModalId(a_modalId.value, addForm)" class="form-control">
          <option value="">请选择</option>
          <option *ngFor="let modal of Fmodalid" [value]="modal.mid">{{modal.name}}</option>
        </select>
      </div>
    </form>
    <div class="clearfix"></div>
    <div class="text-center">
        <span *ngIf="inputvalid" class="remind">无效输入,请检查你的输入</span>
    </div>
    <div class="text-center">
      <button type="button" class="btn btn-info" aria-label="Close" (click)="proDataAdd()">
        确定增加
      </button>
      <button type="button" class="btn btn-danger" aria-label="Close" (click)="closeModal()">
        返回
      </button>
    </div>
    <br>
  </div>
</ng-template>
<ng-template #modify>
  <div class="modal-header">
    <h4 class="modal-title pull-left">设备数据修改</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" [formGroup]="modifyForm">
      <div class="form-group" *ngFor="let modify of fieldsModify">
        <label>{{modify.name}}</label>
        <input [type]="modify.type" class="form-control" formControlName="{{modify.field}}" [class.hasError]="modifyForm.get(modify.field).invalid && modifyForm.get(modify.field).touched">
        <div [hidden]="modifyForm.get(modify.field).valid || modifyForm.get(modify.field).untouched"  class="validField">
          <div *ngFor="let valid of modify.validators">
            <span *ngIf="modifyForm.get(modify.field).hasError(valid.validField)">{{valid.msg}}</span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>使用状态: &nbsp;</label>
        <select #m_usestatus (change)="selectUesStatus(m_usestatus.value, modifyForm)" class="form-control">
          <option [value]="''">不填</option>
          <option [selected]="detail.usestatus === '1' || detail.usestatus === 1" [value]="1">能使用</option>
          <option [selected]="detail.usestatus === '0' || detail.usestatus === 0" [value]="0">不能使用</option>
        </select>
      </div>
      <div class="form-group">
        <label>设备类型: &nbsp;</label>
        <select #m_dtype (change)="selectDType(m_dtype.value, modifyForm)" class="form-control">
          <option [selected]="detail.dtype === '1' || detail.dtype === 1" [value]="1">机电类</option>
          <option [selected]="detail.dtype === '0' || detail.dtype === 0" [value]="0">其他</option>
        </select>
      </div>
      <div class="form-group">
        <label>设备运行状态: &nbsp;</label>
        <select #m_dstatus (change)="selectDStatus(m_dstatus.value, modifyForm)" class="form-control">
          <option [value]="null">不填</option>
          <option [selected]="detail.dstatus === '1' || detail.dstatus === 1" [value]="1">运行中...</option>
          <option [selected]="detail.dstatus === '0' || detail.dstatus === 0" [value]="0">未运行</option>
        </select>
      </div>
      <div class="form-group">
        <label>所属模块id: &nbsp;</label>
        <select #m_modalId (change)="selectModalId(m_modalId.value, modifyForm)" class="form-control">
          <option *ngFor="let modal of Fmodalid" [selected]="modal.mid === detail.mid" [value]="modal.mid">{{modal.name}}</option>
        </select>
      </div>
    </form>
    <div class="clearfix"></div>
    <div class="text-center">
      <span *ngIf="inputvalid" class="remind">无效输入,请检查你的输入</span>
    </div>
    <div class="text-center">
      <button type="button" class="btn btn-info" aria-label="Close" (click)="proDataModify()">
        确定修改
      </button>
      <button type="button" class="btn  btn-danger" aria-label="Close" (click)="closeModal()">
        返回
      </button>
    </div>
    <br>
  </div>
</ng-template>
<ng-template #lookdesc>
  <div class="modal-header">
    <h4 class="modal-title pull-left">设备数据查看详情</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>设备id号: {{detail['did']}}</p>
    <p>名称: {{detail['name']}}</p>
    <p>厂家编号: {{detail['fnum']}}</p>
    <p>生产厂家: {{detail['dvender']}}</p>
    <p>设备型号: {{detail['dmodule']}}</p>
    <p>生产日期: {{detail['dprodate']}}</p>
    <p>安装日期: {{detail['dinstalldate']}}</p>
    <p>额定功率: {{detail['power']}}</p>
    <p>额定电流: {{detail['current']}}</p>
    <p>额定电压: {{detail['voltage']}}</p>
    <p>
      <span *ngIf="detail.usestatus === 1">使用状态: 能使用</span>
      <span *ngIf="detail.usestatus === 0">使用状态: 不能使用</span>
    </p>
    <p>
      <span *ngIf="detail['dtype'] === 1">设备类型: 机电类</span>
      <span *ngIf="detail['dtype'] === 0">设备类型: 其他</span>
    <p>
    <span *ngIf="detail['dstatus'] === 1">设备运行状态: 运行中</span>
    <span *ngIf="detail['dstatus'] === 1">设备运行状态: 未运行</span>
    <p>
      <span *ngFor="let modal of Fmodalid" [hidden]="!(modal.mid === detail.mid)">模块ID: {{detail['mid']}},&nbsp;&nbsp;模块名称: {{modal['name']}}</span>
    </p>
    <p>插入时间 :{{detail['idt']}}</p>
    <p>更新时间 :{{detail['udt']}}</p>
    <div class="clearfix"></div>
    <div class="text-center">
      <button type="button" class="btn btn-info" aria-label="Close" (click)="modalRef.hide();openModal(modify, -1)">
        跳转到修改
      </button>
      <button type="button" class="btn  btn-danger" aria-label="Close" (click)="closeModal()">
        返回
      </button>
    </div>
  </div>
</ng-template>

<div [hidden]="openstatus">
  <div class="status text-center"  [class.success]="status !== 0 && status === 10" [class.fail]="status === 11 || status === 13 || status === 12">
    <span>{{resMessage}}</span>
  </div>
</div>



