<div class="container-fluid" style="padding-top: 10px;" (click)="cleanScreen()">
  <div class="main" style="border: 1px solid #acacac">
    <div class="row" style="padding: 0px 16px;">
      <div class="col-md-12 col-xs-12 title">部门管理</div>
    </div>
    <div class="row" style="background-color: #efefef;margin: 0 1px;">
      <div class="button">
        <div class="col-xs-12">
          <button type="button" class="btn btn-default" (click)="openModal(add, -1)"><span class="fa fa-plus"></span>增加</button>
          <button type="button" class="btn btn-default"  (click)="delete()"><span class="fa fa-trash-o" ></span>删除</button>
          <button type="button" class="btn btn-default" (click)="openModal(modify, -1)"><span class="fa fa-edit"></span>修改</button>
          <span *ngIf="gtone" class="remind">请至少选择一项进行操作</span>
          <span *ngIf="mustone" class="remind">请选择一项进行操作</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-responsive">
          <thead>
          <tr>
            <th class="checkboxoption" ><input type="checkbox" (click)="checkAll()">全选/全不选</th>
            <th>部门ID</th>
            <th>部门名称</th>
            <th>部门编号</th>
            <th>部门电话</th>
            <th>所属组织机构ID</th>
            <th>部门父id</th>
            <th>插入时间</th>
            <th>更新时间</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of datas;let i=index;" (click)="openModal(lookdesc, data)" title="点击查看详情">
            <td><input type="checkbox" (click)="check(data, $event)"></td>
            <td>{{data['id']}}</td>
            <td>{{data['name']}}</td>
            <td>{{data['dcode']}}</td>
            <td>{{data['tel']}}</td>
            <td>{{data['oid']}}</td>
            <td>{{data['pid']}}</td>
            <td>{{data['idt']}}</td>
            <td>{{data['udt']}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-xs-12">
        <app-paging  [num]="num" (pageBodyChange)="getPageBody($event)"></app-paging>
      </div>
    </div>
  </div>
</div>

<!--增加的模态框-->
<ng-template #add>
  <div class="modal-header">
    <h4 class="modal-title pull-left">部门增加</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="forms" [formGroup]="addForm">
      <div class="form-group">
        <label for="name1">部门名称</label>
        <input type="text" class="form-control" formControlName="name" [class.hasError]="addForm.get('name').invalid && addForm.get('name').touched">
        <div [hidden]="addForm.get('name').valid || addForm.get('name').untouched">
          <span [hidden]="!addForm.hasError('required', 'name')" class="validField">* 必填</span>
        </div>
      </div>
      <div class="form-group">
        <label for="number1">部门编号</label>
        <input type="text" class="form-control" formControlName="dcode" [class.hasError]="addForm.get('dcode').invalid && addForm.get('dcode').touched">
        <div [hidden]="addForm.get('dcode').valid || addForm.get('dcode').untouched">
          <span [hidden]="!addForm.hasError('required', 'dcode')" class="validField">* 必填</span>
        </div>
      </div>
      <div class="form-group">
        <label for="tel1">部门电话</label>
        <input type="text" class="form-control" formControlName="tel" [class.hasError]="addForm.get('tel').invalid && addForm.get('tel').touched">
        <div [hidden]="addForm.get('tel').valid || addForm.get('tel').untouched">
          <span [hidden]="!addForm.hasError('required', 'tel')" class="validField">* 必填</span>
        </div>
      </div>
      <div class="form-group">
        <label>所属组织机构ID: &nbsp;</label>
        <select #addOid (change)="selectAddModalOrgaId(addOid.value)" class="form-control">
          <option [value]="null">默认值为空，请选择</option>
          <option *ngFor="let organization of Fmodalid.organizations" [value]="organization.id">{{organization.id}}, {{organization.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>部门父ID: &nbsp;</label>
        <select #addPid (change)="selectAddModalDeparId(addPid.value)" class="form-control">
          <option [value]="-1">最高层</option>
          <option *ngFor="let department of Fmodalid.departments" [value]="department.id">{{department.name}}</option>
        </select>
      </div>
    </form>
    <div class="clearfix"></div>
    <div class="text-center">
      <span *ngIf="inputvalid" class="remind">无效输入,请检查你的输入</span>
    </div>
    <div class="btn-box text-center">
      <button type="submit" class="btn btn-info" (click)="con_add()">确定增加</button>
      <button type="button" class="btn btn-danger" (click)="closeModal()">取消</button>
    </div>
  </div>
</ng-template>

<!--修改的模态框-->
<ng-template #modify>
  <div class="modal-header">
    <h4 class="modal-title pull-left">部门修改</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="forms" [formGroup]="modifyForm">
      <div class="form-group">
        <label for="name1">部门名称</label>
        <input id="name1" type="text" class="form-control" formControlName="name" [class.hasError]="modifyForm.get('name').invalid && modifyForm.get('name').touched">
        <div [hidden]="modifyForm.get('name').valid || modifyForm.get('name').untouched">
          <span [hidden]="!modifyForm.hasError('required', 'name')" class="validField">* 必填</span>
        </div>
      </div>
      <div class="form-group">
        <label for="number1">部门编号</label>
        <input id="number1" type="text" class="form-control" formControlName="dcode" [class.hasError]="modifyForm.get('dcode').invalid && modifyForm.get('dcode').touched">
        <div [hidden]="modifyForm.get('dcode').valid || modifyForm.get('dcode').untouched">
          <span [hidden]="!modifyForm.hasError('required', 'dcode')" class="validField">* 必填</span>
        </div>
      </div>
      <div class="form-group">
        <label for="tel1">部门电话</label>
        <input id="tel1" type="text" class="form-control" formControlName="tel" [class.hasError]="modifyForm.get('tel').invalid && modifyForm.get('tel').touched">
        <div [hidden]="modifyForm.get('tel').valid || modifyForm.get('tel').untouched">
          <span [hidden]="!modifyForm.hasError('required', 'tel')" class="validField">* 必填</span>
        </div>
      </div>
      <div class="form-group">
        <label>所属组织机构ID: &nbsp;</label>
        <option [value]="null">默认值为空，请选择</option>
        <select #modifyOid (change)="selectModifyModalOrgaId(modifyOid.value)" class="form-control">
          <option *ngFor="let organization of Fmodalid.organizations" [selected]="organization.id === modifyForm.get('oid').value" [value]="organization.id">{{organization.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>部门父ID: &nbsp;</label>
        <select #modifyPid (change)="selectModifyModalDeparId(modifyPid.value)" class="form-control">
          <option [value]="-1">最高层</option>
          <option *ngFor="let department of Fmodalid.departments" [selected]="department.id === modifyForm.get('pid').value" [value]="department.id">{{department.name}}</option>
        </select>
      </div>
    </form>
    <div class="clearfix"></div>
    <div class="text-center">
      <span *ngIf="inputvalid" class="remind">无效输入,请检查你的输入</span>
    </div>
    <div class="btn-box text-center">
      <button type="submit" class="btn btn-info" (click)="con_modify()">确定修改</button>
      <button type="button" class="btn btn-danger" (click)="closeModal()">取消</button>
    </div>
  </div>
</ng-template>

<!--查看的模态框-->
<ng-template #lookdesc>
  <div class="modal-header" style="position: absolute;width: 100%;z-index: 1050;top: 0px;left: 0px;" (mousedown)="startDrop($event)">
    <h4 class="modal-title pull-left">部门查看详情</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="margin-top: 50px;">
    <p>部门ID &nbsp; : &nbsp; {{detail.id}}</p>
    <p>部门名称&nbsp; : &nbsp;	{{detail.name}}</p>
    <p>部门编号&nbsp; : &nbsp;	{{detail.dcode}}</p>
    <p>部门电话&nbsp; : &nbsp;	{{detail.tel}}</p>
    <p>机构id&nbsp; : &nbsp;	{{detail.oid}}</p>
    <p>部门父id&nbsp; : &nbsp;	{{detail.pid}}</p>
    <p>插入时间&nbsp; : &nbsp;	{{detail.idt}}</p>
    <p>更新时间&nbsp; : &nbsp;	{{detail.udt}}</p>
    <div class="clearfix"></div>
    <div class="btn-box text-center">
      <button type="submit" class="btn btn-info" (click)="modalRef.hide();openModal(modify, -1)">跳转到修改</button>
      <button type="button" class="btn btn-danger" (click)="closeModal()">取消</button>
    </div>
  </div>
</ng-template>

<div [hidden]="openstatus">
  <div class="status text-center"  [class.success]="status !== 0 && status === 10" [class.fail]="status === 11 || status === 13 || status === 12">
    <span>{{resMessage}}</span>
  </div>
</div>
