<div class="container-fluid" style="padding-top: 10px;" (click)="cleanScreen()">
  <div class="main" style="border: 1px solid #acacac">
    <div class="row" style="padding: 0px 16px;">
      <div class="col-md-12 col-xs-12 title">部门管理</div>
    </div>
    <div class="row" style="background-color: #efefef;margin: 0 1px;">
      <div class="button">
        <div class="col-xs-12">
          <button type="button" class="btn btn-default" (click)="openModal(add, -1)"><span class="fa fa-plus"></span>增加</button>
          <button type="button" class="btn btn-default"  (click)="delete()"><span class="fa fa-trash-o" ></span>删除</button>
          <button type="button" class="btn btn-default" (click)="openModal(modify, -1)"><span class="fa fa-edit"></span>修改</button>
          <span *ngIf="gtone" class="remind">请至少选择一项进行操作</span>
          <span *ngIf="mustone" class="remind">请选择一项进行操作</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-responsive">
          <thead>
          <tr>
            <th class="checkboxoption" ><input type="checkbox" (click)="checkAll()">全选/全不选</th>
            <th>部门编号</th>
            <th>部门名称</th>
            <th>部门编码</th>
            <th>部门电话</th>
            <th>所属组织机构编号</th>
            <th>部门父编号</th>
            <th>插入时间</th>
            <th>更新时间</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of datas;let i=index;" (click)="openModal(lookdesc, data)" title="点击查看详情">
            <td><input type="checkbox" (click)="check(data, $event)"></td>
            <td>{{data['id']}}</td>
            <td>{{data['name']}}</td>
            <td>{{data['dcode']}}</td>
            <td>{{data['tel']}}</td>
            <td>{{data['oid']}}</td>
            <td>{{data['pid']}}</td>
            <td>{{data['idt']}}</td>
            <td>{{data['udt']}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-xs-12">
        <app-paging  [num]="num" (pageBodyChange)="getPageBody($event)"></app-paging>
      </div>
    </div>
  </div>
</div>

<!--增加的模态框-->
<ng-template #add>
  <div class="modal-header">
    <h4 class="modal-title pull-left">部门增加</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="forms" [formGroup]="addForm">
      <div class="form-group" *ngFor="let add of fieldsAdd">
        <label>{{add.name}}</label>
        <input [type]="add.type" class="form-control" formControlName="{{add.field}}" [class.hasError]="addForm.get(add.field).invalid && addForm.get(add.field).touched">
        <div [hidden]="addForm.get(add.field).valid || addForm.get(add.field).untouched"  class="validField">
          <div *ngFor="let valid of add.validators">
            <span *ngIf="addForm.get(add.field).hasError(valid.validField)">{{valid.msg}}</span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>所属组织机构编号: &nbsp;</label>
        <select #addOid (change)="selectAddModalOrgaId(addOid.value)" class="form-control">
          <option [value]="null">默认值为空，请选择</option>
          <option *ngFor="let organization of Fmodalid.organizations" [value]="organization.id">{{organization.id}}, {{organization.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>部门父编号: &nbsp;</label>
        <select #addPid (change)="selectAddModalDeparId(addPid.value)" class="form-control">
          <option [value]="-1">最高层</option>
          <option *ngFor="let department of Fmodalid.departments" [value]="department.id">{{department.name}}</option>
        </select>
      </div>
    </form>
    <div class="clearfix"></div>
    <div class="text-center">
      <span *ngIf="inputvalid" class="remind">无效输入,请检查你的输入</span>
    </div>
    <div class="btn-box text-center">
      <button type="submit" class="btn btn-info" (click)="con_add()">确定增加</button>
      <button type="button" class="btn btn-danger" (click)="closeModal()">取消</button>
    </div>
  </div>
</ng-template>

<!--修改的模态框-->
<ng-template #modify>
  <div class="modal-header">
    <h4 class="modal-title pull-left">部门修改</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="forms" [formGroup]="modifyForm">
      <div class="form-group" *ngFor="let modify of fieldsModify">
        <label>{{modify.name}}</label>
        <input [type]="modify.type" class="form-control" formControlName="{{modify.field}}" [class.hasError]="modifyForm.get(modify.field).invalid && modifyForm.get(modify.field).touched">
        <div [hidden]="modifyForm.get(modify.field).valid || modifyForm.get(modify.field).untouched"  class="validField">
          <div *ngFor="let valid of modify.validators">
            <span *ngIf="modifyForm.get(modify.field).hasError(valid.validField)">{{valid.msg}}</span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>所属组织机构编号: &nbsp;</label>
        <select #modifyOid (change)="selectModifyModalOrgaId(modifyOid.value)" class="form-control">
          <option [value]="null">默认值为空，请选择</option>
          <option *ngFor="let organization of Fmodalid.organizations" [selected]="organization.id === modifyForm.get('oid').value" [value]="organization.id">{{organization.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>部门父编号: &nbsp;</label>
        <select #modifyPid (change)="selectModifyModalDeparId(modifyPid.value)" class="form-control">
          <option [value]="-1">最高层</option>
          <option *ngFor="let department of Fmodalid.departments" [selected]="department.id === modifyForm.get('pid').value" [value]="department.id">{{department.name}}</option>
        </select>
      </div>
    </form>
    <div class="clearfix"></div>
    <div class="text-center">
      <span *ngIf="inputvalid" class="remind">无效输入,请检查你的输入</span>
    </div>
    <div class="btn-box text-center">
      <button type="submit" class="btn btn-info" (click)="con_modify()">确定修改</button>
      <button type="button" class="btn btn-danger" (click)="closeModal()">取消</button>
    </div>
  </div>
</ng-template>

<!--查看的模态框-->
<ng-template #lookdesc>
  <div class="modal-header" style="position: absolute;width: 100%;z-index: 1050;top: 0px;left: 0px;" (mousedown)="startDrop($event)">
    <h4 class="modal-title pull-left">部门查看详情</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="margin-top: 50px;">
    <p>部门编号 &nbsp; : &nbsp; {{detail.id}}</p>
    <p>部门名称&nbsp; : &nbsp;	{{detail.name}}</p>
    <p>部门编码&nbsp; : &nbsp;	{{detail.dcode}}</p>
    <p>部门电话&nbsp; : &nbsp;	{{detail.tel}}</p>
    <p>
      <span *ngFor="let organization of Fmodalid['organizations']" [hidden]="!(organization.id === detail.oid)">机构编号&nbsp; : &nbsp;	{{organization.id}},&nbsp;&nbsp;&nbsp;机构名称&nbsp;:&nbsp;{{organization.name}}</span>
    </p>
    <p>
      <span *ngFor="let department of Fmodalid['departments']" [hidden]="!(department.id === detail.oid)">部门父编号&nbsp;: &nbsp;{{department.pid}},&nbsp;&nbsp;&nbsp;部门名称&nbsp;:&nbsp;{{department.name}}</span>
    </p>
    <p>插入时间&nbsp; : &nbsp;	{{detail.idt}}</p>
    <p>更新时间&nbsp; : &nbsp;	{{detail.udt}}</p>
    <div class="clearfix"></div>
    <div class="btn-box text-center">
      <button type="submit" class="btn btn-info" (click)="modalRef.hide();openModal(modify, -1)">跳转到修改</button>
      <button type="button" class="btn btn-danger" (click)="closeModal()">取消</button>
    </div>
  </div>
</ng-template>

<div [hidden]="openstatus">
  <div class="status text-center"  [class.success]="status !== 0 && status === 10" [class.fail]="status === 11 || status === 13 || status === 12">
    <span>{{resMessage}}</span>
  </div>
</div>
