<div class="usersmanager">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 index">
        用户模块管理
      </div>
    </div>
    <div class="row options">
      <div class="col-xs-12">
        <button type="button" class="btn btn-default" (click)="openModal(add, -1)"><span class="glyphicon glyphicon-plus"></span>增加</button>
        <button type="button" class="btn btn-default" (click)="deleteuser()"><span class="glyphicon glyphicon-trash"></span>删除</button>
        <button type="button" class="btn btn-default" (click)="openModal(modify, -1)"><span class="glyphicon glyphicon-pencil"></span>修改</button>
        <span *ngIf="gtone" class="remind">请至少选着一项进行操作</span>
        <span *ngIf="mustone" class="remind">请选择一项进行操作</span>
      </div>
    </div>
    <div class="row content">
      <div class="col-xs-12">
        <table class="table table-responsive table-bordered">
          <thead>
          <tr>
            <th class="checkboxoption"><input type="checkbox" checked="{{checked}}" (click)="getAllCheckBoxStatus($event)">全选/或全不选</th>
            <th>数据库id</th>
            <th>用户编码</th>
            <th>真实姓名</th>
            <th>用户名</th>
            <th>所属组织id</th>
            <th>密码</th>
            <th>性别</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of datas; let i = index" (click)="openModal(lookdesc, i)" title="点击查看详情">
            <td><input type="checkbox" checked="{{checked}}" (click)="getCheckBoxStatus($event, i)"></td>
            <td>{{user['id']}}</td>
            <td>{{user['userCode']}}</td>
            <td>{{user['realName']}}</td>
            <td>{{user['userName']}}</td>
            <td>{{user['organizationId']}}</td>
            <td>{{user['password']}}</td>
            <td>
                <span *ngIf="user['gender'] === 'm' || user['gender'] === '男'">男</span>
                <span *ngIf="user['gender'] === 'w' || user['gender'] === '女'">女</span>
                <span *ngIf="user['gender'] !== 'w' && user['gender'] !== '女' && user['gender'] !== 'm' && user['gender'] !== '男'">无</span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-xs-12">
        <app-paging  [num]="num" (pageBodyChange)="getPageBody($event)"></app-paging>
      </div>
    </div>
  </div>
</div>

<!--模态框-->
<ng-template #add>
  <div class="modal-header">
    <h4 class="modal-title pull-left">用户增加</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" [formGroup]="addForm">
      <div class="form-group">
        <label>用户编码&nbsp;&nbsp;: &nbsp;</label>
        <input type="text" class="form-control" formControlName="userCode" [class.hasError]="addForm.get('userCode').invalid && addForm.get('userCode').touched">
        <div [hidden]="addForm.get('userCode').valid || addForm.get('userCode').untouched">
          <span [hidden]="!addForm.hasError('required', 'userCode')">必填</span>
        </div>
      </div>
      <br>
      <div class="form-group">
        <label>身份证: &nbsp;</label>
        <input type="text"  class="form-control" formControlName="idCode" [class.hasError]="addForm.get('idCode').invalid && addForm.get('idCode').touched">
        <div [hidden]="addForm.get('idCode').valid || addForm.get('idCode').untouched">
          <span [hidden]="!addForm.hasError('required', 'idCode')">必填</span>
          <span [hidden]="addForm.hasError('minLength', 'idCode') && addForm.hasError('maxLength', 'idCode')">请输入正确的18位身份证号</span>
        </div>
      </div>
      <br>
      <div class="form-group">
        <label>真实姓名: &nbsp;</label>
        <input type="text"  class="form-control" formControlName="realName" [class.hasError]="addForm.get('realName').invalid && addForm.get('realName').touched">
        <div [hidden]="addForm.get('realName').valid || addForm.get('realName').untouched">
          <span [hidden]="!addForm.hasError('required', 'realName')">必填</span>
        </div>
      </div>
      <br>
      <div class="form-group">
        <label>用户名: &nbsp;</label>
        <input type="text"  class="form-control" formControlName="userName" [class.hasError]="addForm.get('userName').invalid && addForm.get('userName').touched">
        <div [hidden]="addForm.get('userName').valid || addForm.get('userName').untouched">
          <span [hidden]="!addForm.hasError('required', 'userName')">必填</span>
        </div>
      </div>
      <br>
      <div class="form-group">
        <label>家庭住址: &nbsp;</label>
        <input type="text"  class="form-control" formControlName="homeAddress" [class.hasError]="addForm.get('homeAddress').invalid && addForm.get('homeAddress').touched">
        <div [hidden]="addForm.get('homeAddress').valid || addForm.get('homeAddress').untouched">
          <span [hidden]="!addForm.hasError('required', 'homeAddress')">必填</span>
        </div>
      </div>
      <br>
      <div class="form-group">
        <label>家庭联系电话: &nbsp;</label>
        <input type="text"  class="form-control" formControlName="homeTelephone" [class.hasError]="addForm.get('homeTelephone').invalid && addForm.get('homeTelephone').touched">
        <div [hidden]="addForm.get('homeTelephone').valid || addForm.get('homeTelephone').untouched">
          <span [hidden]="!addForm.hasError('required', 'homeTelephone')">必填</span>
        </div>
      </div>
      <br>
      <div class="form-group">
        <label>所属组织ID: &nbsp;</label>
        <select #modal_id (change)="SelectAddModalId(modal_id.value)" class="form-control">
          <option [value]="null">默认值为空，请选择</option>
          <option *ngFor="let organization of organizationId.organizations" [value]="organization.id">{{organization.name}}</option>
        </select>
      </div>
      <br>
      <div class="form-group">
        <label>密码: &nbsp;</label>
        <input type="text"  class="form-control" formControlName="password" [class.hasError]="addForm.get('password').invalid && addForm.get('password').touched">
        <div [hidden]="addForm.get('password').valid || addForm.get('password').untouched">
          <span [hidden]="!addForm.hasError('required', 'password')">必填</span>
          <span [hidden]="addForm.hasError('minLength', 'password')">密码至少6位</span>
          <span [hidden]="addForm.hasError('maxLength', 'password')">密码最多16位</span>
        </div>
      </div>
      <br>
      <div class="form-group">
        <label>联系电话: &nbsp;</label>
        <input type="tel"  class="form-control" formControlName="phone" [class.hasError]="addForm.get('phone').invalid && addForm.get('phone').touched">
        <div [hidden]="addForm.get('phone').valid || addForm.get('phone').untouched">
          <span [hidden]="!addForm.hasError('required', 'phone')">必填</span>
          <span [hidden]="!addForm.hasError('mobile', 'phone')">请输入正确的手机号码</span>
        </div>
      </div>
      <br>
      <div class="form-group">
        <label>邮箱: &nbsp;</label>
        <input type="email"  class="form-control" formControlName="email" [class.hasError]="addForm.get('email').invalid && addForm.get('email').touched">
        <div [hidden]="addForm.get('email').valid || addForm.get('email').untouched">
          <span [hidden]="!addForm.hasError('email', 'email')">电子邮箱</span>
          <span [hidden]="!addForm.hasError('required', 'email')">必填</span>
        </div>
      </div>
      <br>
      <div class="form-group">
        <label>生日: &nbsp;</label>
        <input type="date"  class="form-control" formControlName="birthday" [class.hasError]="addForm.get('birthday').invalid && addForm.get('birthday').touched">
        <div [hidden]="addForm.get('birthday').valid || addForm.get('birthday').untouched">
          <span [hidden]="!addForm.hasError('required', 'birthday')">必填</span>
        </div>
      </div>
      <br>
      <div class="form-group">
        <label>生产线列表: &nbsp;</label>
        <!--<span (click)="openSelectAddProLineId = !openSelectAddProLineId" class="selectLineId">请点击选择生产线模块ID</span>-->
        <div class="container-fluid">
          <div class="row">
            <div *ngFor="let lineId of userLineIds" class="col-sx-3 col-sm-3">
              <!--
                  参数介绍：
                      lineId['sys_id']) 用来记录当前点击的是哪个生产线的
                      $event: 用来判断当前被点击生产线的checkbox 是否被选中
              -->
              <input type="checkbox" #addCheckboxAdd [checked]="lineId['sys_status'] === 1" (click)="selectProLineId(lineId, addCheckboxAdd.checked)">
              <span [ngStyle]="{'color': (addCheckboxAdd.checked === true)?'#646464':'red'}">{{lineId.sys_name}}</span>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="form-group">
        <label>性别: &nbsp;</label>
        <div class="form-control">
          <input type="radio" #m name="add_gender" value="m" (click)="selectGender(m.value);">男 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input type="radio" #w name="add_gender" value="w" (click)="selectGender(w.value)">女
        </div>
      </div>
      <br>
    </form>
    <div class="clearfix"></div>
    <div class="text-center">
      <span *ngIf="inputvalid" class="remind">无效输入,请检查你的输入</span>
    </div>
    <div class="text-center">
      <button type="button" class="btn btn-info" aria-label="Close" (click)="userAdd()">
        确定增加
      </button>
      <button type="button" class="btn btn-danger" aria-label="Close" (click)="modalRef.hide()">
        返回
      </button>
    </div>
    <br>
  </div>
</ng-template>

<ng-template #modify>
  <div class="modal-header">
    <h4 class="modal-title pull-left">用户信息修改</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" [formGroup]="modifyForm">
      <div class="form-group">
        <label>用户编码&nbsp;&nbsp;: &nbsp;</label>
        <input type="text" class="form-control" formControlName="userCode" [class.hasError]="modifyForm.get('userCode').invalid && modifyForm.get('userCode').touched">
        <div [hidden]="modifyForm.get('userCode').valid || modifyForm.get('userCode').untouched">
          <span [hidden]="!modifyForm.hasError('required', 'userCode')">必填</span>
        </div>
      </div>
      <br>
      <div class="form-group">
        <label>身份证: &nbsp;</label>
        <input type="text"  class="form-control" formControlName="idCode" [class.hasError]="modifyForm.get('idCode').invalid && modifyForm.get('idCode').touched">
        <div [hidden]="modifyForm.get('idCode').valid || modifyForm.get('idCode').untouched">
          <span [hidden]="!modifyForm.hasError('required', 'idCode')">必填</span>
          <span [hidden]="modifyForm.hasError('minLength', 'idCode') && modifyForm.hasError('maxLength', 'idCode')">请输入正确的18位身份证号</span>
        </div>
      </div>
      <br>
      <div class="form-group">
        <label>真实姓名: &nbsp;</label>
        <input type="text"  class="form-control" formControlName="realName" [class.hasError]="modifyForm.get('realName').invalid && modifyForm.get('realName').touched">
        <div [hidden]="modifyForm.get('realName').valid || modifyForm.get('realName').untouched">
          <span [hidden]="!modifyForm.hasError('required', 'realName')">必填</span>
        </div>
      </div>
      <br>
      <div class="form-group">
        <label>用户名: &nbsp;</label>
        <input type="text"  class="form-control" formControlName="userName" [class.hasError]="modifyForm.get('userName').invalid && modifyForm.get('userName').touched">
        <div [hidden]="modifyForm.get('userName').valid || modifyForm.get('userName').untouched">
          <span [hidden]="!modifyForm.hasError('required', 'userName')">必填</span>
        </div>
      </div>
      <br>
      <div class="form-group">
        <label>家庭住址: &nbsp;</label>
        <input type="text"  class="form-control" formControlName="homeAddress" [class.hasError]="modifyForm.get('homeAddress').invalid && modifyForm.get('homeAddress').touched">
        <div [hidden]="modifyForm.get('homeAddress').valid || modifyForm.get('homeAddress').untouched">
          <span [hidden]="!modifyForm.hasError('required', 'homeAddress')">必填</span>
        </div>
      </div>
      <br>
      <div class="form-group">
        <label>家庭联系电话: &nbsp;</label>
        <input type="text"  class="form-control" formControlName="homeTelephone" [class.hasError]="modifyForm.get('homeTelephone').invalid && modifyForm.get('homeTelephone').touched">
        <div [hidden]="modifyForm.get('homeTelephone').valid || modifyForm.get('homeTelephone').untouched">
          <span [hidden]="!modifyForm.hasError('required', 'homeTelephone')">必填</span>
        </div>
      </div>
      <br>
      <div class="form-group">
        <label>所属组织ID: &nbsp;</label>
        <select #modal_id (change)="SelectModifyModalId(modal_id.value)" class="form-control">
          <option *ngFor="let organization of organizationId.organizations" [selected]="organization.id === detail['organizationId']" [value]="organization.id">{{organization.name}}</option>
        </select>
      </div>
      <br>
      <div class="form-group">
        <label>密码: &nbsp;</label>
        <input type="text"  class="form-control" formControlName="password" [class.hasError]="modifyForm.get('password').invalid && modifyForm.get('password').touched">
        <div [hidden]="modifyForm.get('password').valid || modifyForm.get('password').untouched">
          <span [hidden]="!modifyForm.hasError('required', 'password')">必填</span>
          <span [hidden]="modifyForm.hasError('minLength', 'password')">密码至少6位</span>
          <span [hidden]="modifyForm.hasError('maxLength', 'password')">密码最多16位</span>
        </div>
      </div>
      <br>
      <div class="form-group">
        <label>联系电话: &nbsp;</label>
        <input type="tel"  class="form-control" formControlName="phone" [class.hasError]="modifyForm.get('phone').invalid && modifyForm.get('phone').touched">
        <div [hidden]="modifyForm.get('phone').valid || modifyForm.get('phone').untouched">
          <span [hidden]="!modifyForm.hasError('required', 'phone')">必填</span>
          <span [hidden]="!modifyForm.hasError('mobile', 'phone')">请输入正确的手机号码</span>
        </div>
      </div>
      <br>
      <div class="form-group">
        <label>邮箱: &nbsp;</label>
        <input type="email"  class="form-control" formControlName="email" [class.hasError]="modifyForm.get('email').invalid && modifyForm.get('email').touched">
        <div [hidden]="modifyForm.get('email').valid || modifyForm.get('email').untouched">
          <span [hidden]="!modifyForm.hasError('required', 'email')">必填</span>
          <span [hidden]="!modifyForm.hasError('email', 'email')">电子邮箱</span>
        </div>
      </div>
      <br>
      <div class="form-group">
        <label>生日: &nbsp;</label>
        <input type="date"  class="form-control" formControlName="birthday" [class.hasError]="modifyForm.get('birthday').invalid && modifyForm.get('birthday').touched">
        <div [hidden]="modifyForm.get('birthday').valid || modifyForm.get('birthday').untouched">
          <span [hidden]="!modifyForm.hasError('required', 'birthday')">必填</span>
        </div>
      </div>
      <br>
      <div class="form-group">
        <label>生产线列表: &nbsp;(请勾选修改)</label>
        <!--<span (click)="openSelectAddProLineId = !openSelectAddProLineId" class="selectLineId">点击查看和修改生产线模块ID</span>-->
        <div class="container-fluid">
          <div class="row">
            <div *ngFor="let lineId of userLineIds" class="col-sx-3 col-sm-3">
              <!--
                  参数介绍：
                      lineId['sys_id']) 用来记录当前点击的是哪个生产线的
                      $event: 用来判断当前被点击生产线的checkbox 是否被选中
              -->
              <input type="checkbox" [checked]="lineId['sys_status'] === 1" (click)="selectProLineId(lineId, $event)">
              <!--<span [ngStyle]="{'color': addCheckboxModify.checked?'#646464':'red'}">{{lineId.sys_name}}</span>-->
              <span>{{lineId.sys_name}}</span>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="form-group">
        <label>性别: &nbsp;</label>
        <div class="form-control">
          <input type="radio" #m name="gender" value="m" (click)="selectGender(m.value)" [checked]="detail.gender === 'm' || detail.gender === '男'">男 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input type="radio" #w name="gender" value="w" (click)="selectGender(w.value)" [checked]="detail.gender === 'w' || detail.gender === '女'">女
        </div>
      </div>
      <br>
    </form>
    <div class="clearfix"></div>
    <div class="text-center">
      <span *ngIf="inputvalid" class="remind">无效输入,请检查你的输入</span>
    </div>
    <div class="text-center">
      <button type="button" class="btn btn-info" aria-label="Close" (click)="userModify()">
        确定修改
      </button>
      <button type="button" class="btn btn-danger" aria-label="Close" (click)="modalRef.hide()">
        返回
      </button>
    </div>
    <br>
  </div>
</ng-template>

<ng-template #lookdesc>
  <div class="modal-header">
    <h4 class="modal-title pull-left">用户信息详情</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>数据库id	: &nbsp;{{detail.id}}</p>
    <p>用户编码	: &nbsp;{{detail.userCode}}</p>
    <p>身份证	: &nbsp;{{detail.idCode}}</p>
    <p>真实姓名	: &nbsp;{{detail.realName}}</p>
    <p>用户名	: &nbsp;{{detail.userName}}</p>
    <p>家庭住址	: &nbsp;{{detail.homeAddress}}</p>
    <p>家庭联系电话	: &nbsp;{{detail.homeTelephone}}</p>
    <p>所属组织id	: &nbsp;{{detail.organizationId}}</p>
    <p>密码	: &nbsp;{{detail.password}}</p>
    <p>联系电话	: &nbsp;{{detail.phone}}</p>
    <p>邮箱	: &nbsp;{{detail.email}}</p>
    <p>生日	: &nbsp;{{detail.birthday}}</p>
    <div class="form-group">
    <label>生产线列表: &nbsp;</label>
    <div class="container-fluid">
      <div class="row">
        <div *ngFor="let lineId of userLineIds" class="col-sx-3 col-sm-3">
          <!--
              参数介绍：
                  lineId['sys_id']) 用来记录当前点击的是哪个生产线的
                  $event: 用来判断当前被点击生产线的checkbox 是否被选中
          -->
          <input [checked]="lineId['sys_status'] === 1" type="checkbox" disabled>
          <span>{{lineId.sys_name}}</span>
          <!--<span [ngStyle]="{color: addCheckboxLook.checked?'#646464':'#FE0000'}">{{lineId.sys_name}}</span>-->
        </div>
      </div>
    </div>
  </div>
    <p>性别	: &nbsp;
      <span *ngIf="detail.gender === 'm' || detail.gender === '男'">男</span>
      <span *ngIf="detail.gender === 'w' || detail.gender === '女'">女</span>
    </p>
    <p>插入时间	: &nbsp;{{detail.idt}}</p>
    <p>更新时间	: &nbsp;{{detail.udt}}</p>
    <div class="clearfix"></div>
    <div class="text-center">
      <button type="button" class="btn btn-info" aria-label="Close" (click)="modalRef.hide();openModal(modify, -1)">
        修改
      </button>
      <button type="button" class="btn btn-danger" aria-label="Close" (click)="modalRef.hide()">
        返回
      </button>
    </div>
    <div class="clearfix"></div>
  </div>
</ng-template>


<div [hidden]="openstatus">
  <div class="status text-center"  [class.success]="status === 10" [class.fail]="status === 11 || status === 13 || status === 12">
    <span>{{resMessage}}</span>
  </div>
</div>


