<div class="usersmanager" (click)="cleanScreen()">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 index">
        用户模块管理
      </div>
    </div>
    <div class="row options">
      <div class="col-xs-12">
        <button type="button" class="btn btn-default" (click)="openModal(add, -1)"><span class="glyphicon glyphicon-plus"></span>增加</button>
        <button type="button" class="btn btn-default" (click)="deleteuser()"><span class="glyphicon glyphicon-trash"></span>删除</button>
        <button type="button" class="btn btn-default" (click)="openModal(modify, -1)"><span class="glyphicon glyphicon-pencil"></span>修改</button>
        <span *ngIf="gtone" class="remind">请至少选择一项进行操作</span>
        <span *ngIf="mustone" class="remind">请选择一项进行操作</span>
      </div>
    </div>
    <div class="row content">
      <div class="col-xs-12">
        <table class="table table-responsive table-bordered">
          <thead>
          <tr>
            <th class="checkboxoption"><input type="checkbox" checked="{{checked}}" (click)="getAllCheckBoxStatus($event)">全选/或全不选</th>
            <th>用户数据库编号</th>
            <th>用户编码</th>
            <th>真实姓名</th>
            <th>用户名</th>
            <th>所属组织编号</th>
            <th>密码</th>
            <th>性别</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of datas; let i = index" (click)="openModal(lookdesc, i)" title="点击查看详情">
            <td><input type="checkbox" checked="{{checked}}" (click)="getCheckBoxStatus($event, i)"></td>
            <td>{{user['id']}}</td>
            <td>{{user['userCode']}}</td>
            <td>{{user['realName']}}</td>
            <td>{{user['userName']}}</td>
            <td>{{user['organizationId']}}</td>
            <td>{{user['password']}}</td>
            <td>
                <span *ngIf="user['gender'] === 'm' || user['gender'] === '男'">男</span>
                <span *ngIf="user['gender'] === 'w' || user['gender'] === '女'">女</span>
                <span *ngIf="user['gender'] !== 'w' && user['gender'] !== '女' && user['gender'] !== 'm' && user['gender'] !== '男'">无</span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-xs-12">
        <app-paging  [num]="num" (pageBodyChange)="getPageBody($event)"></app-paging>
      </div>
    </div>
  </div>
</div>

<!--模态框-->
<ng-template #add>
  <div class="modal-header">
    <h4 class="modal-title pull-left">用户增加</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" [formGroup]="addForm">
      <div class="form-group" *ngFor="let add of fieldsAdd">
        <label>{{add.name}}</label>
        <input [type]="add.type" class="form-control" formControlName="{{add.field}}" [class.hasError]="addForm.get(add.field).invalid && addForm.get(add.field).touched">
        <div [hidden]="addForm.get(add.field).valid || addForm.get(add.field).untouched"  class="validField">
          <div *ngFor="let valid of add.validators">
            <span *ngIf="addForm.get(add.field).hasError(valid.validField)">{{valid.msg}}</span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>所属组织编号: &nbsp;</label>
        <select #a_organization (change)="selectOrganization(a_organization.value, addForm)" class="form-control">
          <option [value]="null">默认值为空，请选择</option>
          <option *ngFor="let organization of organizationId.organizations" [value]="organization.id">{{organization.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>生产线列表: &nbsp;</label>
        <!--<span (click)="openSelectAddProLineId = !openSelectAddProLineId" class="selectLineId">请点击选择生产线模块ID</span>-->
        <div class="container-fluid">
          <div class="row">
            <div *ngFor="let lineId of userLineIds" class="col-sx-3 col-sm-3">
              <!--
                  参数介绍：
                      lineId['sys_id']) 用来记录当前点击的是哪个生产线的
                      $event: 用来判断当前被点击生产线的checkbox 是否被选中
              -->
              <input type="checkbox" [checked]="lineId['sys_status'] === 1" (click)="selectProLineId(lineId, $event)">
              <span class="lineColor">{{lineId.sys_name}}</span>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="form-group">
        <label>性别: &nbsp;</label>
        <div class="form-control">
          <input type="radio" #m name="add_gender" value="m" (click)="selectGender(m.value);">男 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input type="radio" #w name="add_gender" value="w" (click)="selectGender(w.value)">女
        </div>
      </div>
      <br>
    </form>
    <div class="clearfix"></div>
    <div class="text-center">
      <span *ngIf="inputvalid" class="remind">无效输入,请检查你的输入</span>
    </div>
    <div class="text-center">
      <button type="button" class="btn btn-info" aria-label="Close" (click)="userAdd()">
        确定增加
      </button>
      <button type="button" class="btn btn-danger" aria-label="Close" (click)="listenDescModal = false;modalRef.hide()">
        返回
      </button>
    </div>
    <br>
  </div>
</ng-template>

<ng-template #modify>
  <div class="modal-header">
    <h4 class="modal-title pull-left">用户信息修改</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="listenDescModal = false;modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" [formGroup]="modifyForm">
      <div class="form-group" *ngFor="let modify of fieldsModify">
        <label>{{modify.name}}</label>
        <input [type]="modify.type" class="form-control" formControlName="{{modify.field}}" [class.hasError]="modifyForm.get(modify.field).invalid && modifyForm.get(modify.field).touched">
        <div [hidden]="modifyForm.get(modify.field).valid || modifyForm.get(modify.field).untouched"  class="validField">
          <div *ngFor="let valid of modify.validators">
            <span *ngIf="modifyForm.get(modify.field).hasError(valid.validField)">{{valid.msg}}</span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>所属组织编号: &nbsp;</label>
        <select #m_organization (change)="selectOrganization(m_organization.value)" class="form-control">
          <option *ngFor="let organization of organizationId.organizations" [selected]="organization.id === detail['organizationId']" [value]="organization.id">{{organization.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>生产线列表: &nbsp;(请勾选修改)</label>
        <!--<span (click)="openSelectAddProLineId = !openSelectAddProLineId" class="selectLineId">点击查看和修改生产线模块ID</span>-->
        <div class="container-fluid">
          <div class="row">
            <div *ngFor="let lineId of userLineIds" class="col-sx-3 col-sm-3">
              <!--
                  参数介绍：
                      lineId['sys_id']) 用来记录当前点击的是哪个生产线的
                      $event: 用来判断当前被点击生产线的checkbox 是否被选中
              -->
              <input type="checkbox" [checked]="lineId['sys_status'] === 1" (click)="selectProLineId(lineId, $event)">
              <span [ngStyle]="{color: lineId['sys_status']===1?'#646464':'#FE0000'}">{{lineId.sys_name}}</span>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="form-group">
        <label>性别: &nbsp;</label>
        <div class="form-control">
          <input type="radio" #m name="gender" value="m" (click)="selectGender(m.value)" [checked]="detail.gender === 'm' || detail.gender === '男'">男 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input type="radio" #w name="gender" value="w" (click)="selectGender(w.value)" [checked]="detail.gender === 'w' || detail.gender === '女'">女
        </div>
      </div>
      <br>
    </form>
    <div class="clearfix"></div>
    <div class="text-center">
      <span *ngIf="inputvalid" class="remind">无效输入,请检查你的输入</span>
    </div>
    <div class="text-center">
      <button type="button" class="btn btn-info" aria-label="Close" (click)="userModify()">
        确定修改
      </button>
      <button type="button" class="btn btn-danger" aria-label="Close" (click)="closeModal()">
        返回
      </button>
    </div>
    <br>
  </div>
</ng-template>

<ng-template #lookdesc>
  <div class="modal-header">
    <h4 class="modal-title pull-left">用户信息详情</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>用户数据库编号	: &nbsp;{{detail.id}}</p>
    <p>用户编码	: &nbsp;{{detail.userCode}}</p>
    <p>身份证	: &nbsp;{{detail.idCode}}</p>
    <p>真实姓名	: &nbsp;{{detail.realName}}</p>
    <p>用户名	: &nbsp;{{detail.userName}}</p>
    <p>家庭住址	: &nbsp;{{detail.homeAddress}}</p>
    <p>家庭联系电话	: &nbsp;{{detail.homeTelephone}}</p>
    <p>
      <span *ngFor="let organization of organizationId['organizations']" [hidden]="!('' + organization.id === ''+ detail.organizationId)">所属机构编号&nbsp; : &nbsp;	{{organization.id}},&nbsp;&nbsp;&nbsp;所属机构名称&nbsp;:&nbsp;{{organization.name}}</span>
    </p>
    <p>密码	: &nbsp;{{detail.password}}</p>
    <p>联系电话	: &nbsp;{{detail.phone}}</p>
    <p>邮箱	: &nbsp;{{detail.email}}</p>
    <p>生日	: &nbsp;{{detail.birthday}}</p>
    <div class="form-group">
    <label>生产线列表: &nbsp;</label>
    <div class="container-fluid">
      <div class="row">
        <div *ngFor="let lineId of userLineIds" class="col-sx-3 col-sm-3">
          <!--
              参数介绍：
                  lineId['sys_id']) 用来记录当前点击的是哪个生产线的
                  $event: 用来判断当前被点击生产线的checkbox 是否被选中
          -->
          <input [checked]="lineId['sys_status'] === 1" type="checkbox" disabled>
          <!--<span class="lineColor">{{lineId.sys_name}}</span>-->
          <span [ngStyle]="{color: lineId['sys_status']===1?'#646464':'#FE0000'}">{{lineId.sys_name}}</span>
        </div>
      </div>
    </div>
  </div>
    <p>性别	: &nbsp;
      <span *ngIf="detail.gender === 'm' || detail.gender === '男'">男</span>
      <span *ngIf="detail.gender === 'w' || detail.gender === '女'">女</span>
    </p>
    <p>插入时间	: &nbsp;{{detail.idt}}</p>
    <p>更新时间	: &nbsp;{{detail.udt}}</p>
    <div class="clearfix"></div>
    <div class="text-center">
      <button type="button" class="btn btn-info" aria-label="Close" (click)="modalRef.hide();openModal(modify, -1)">
        修改
      </button>
      <button type="button" class="btn btn-danger" aria-label="Close" (click)="closeModal()">
        返回
      </button>
    </div>
    <div class="clearfix"></div>
  </div>
</ng-template>


<div [hidden]="openstatus">
  <div class="status text-center"  [class.success]="status === 10" [class.fail]="status === 11 || status === 13 || status === 12">
    <span>{{resMessage}}</span>
  </div>
</div>


