<div class="modalManager">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 index">
        模块数据
      </div>
    </div>
    <div class="row options">
      <div class="col-xs-12">
        <button type="button" class="btn btn-default" (click)="openModal(add, -1)"><span class="glyphicon glyphicon-plus"></span>增加</button>
        <button type="button" class="btn btn-default" (click)="modalDelete()"><span class="glyphicon glyphicon-trash"></span>删除</button>
        <button type="button" class="btn btn-default" (click)="openModal(modify, -1)"><span class="glyphicon glyphicon-pencil"></span>修改</button>
        <span *ngIf="gtone" class="remind">请至少选着一项进行操作</span>
        <span *ngIf="mustone" class="remind">请选择一项进行操作</span>
      </div>
    </div>
    <div class="row content">
      <div class="col-xs-12">
        <table class="table table-responsive table-bordered">
          <thead>
          <tr>
            <th class="checkboxoption"><input type="checkbox" checked="{{checked}}" (click)="getAllCheckBoxStatus($event)">全选/全不选</th>
            <th>模块id</th>
            <th>模块名称</th>
            <th>对应id的父id</th>
            <th>描述</th>
            <th>模块代号</th>
            <th>所属组织id</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let list of datas; let i = index" (click)="openModal(lookdesc, i)">
            <td><input type="checkbox" checked="{{checked}}" (click)="getCheckBoxStatus($event, i)"></td>
            <td>{{list['id']}}</td>
            <td>{{list['name']}}</td>
            <td>{{list['pid']}}</td>
            <td>{{list['description']}}</td>
            <td>{{list['mcode']}}</td>
            <td>{{list['oid']}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-xs-12">
        <app-paging  [num]="num" (pageBodyChange)="getPageBody($event)"></app-paging>
      </div>
    </div>
  </div>
</div>

<!--模态框-->
<ng-template #add>
  <div class="modal-header">
    <h4 class="modal-title pull-left">模块数据增加</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" [formGroup]="addForm">
      <div class="form-group" *ngFor="let add of fieldsAdd">
        <label>{{add.name}}:</label>
        <input type="text" formControlName="{{add.field}}" class="form-control" [class.hasError]="addForm.get(add.field).invalid && addForm.get(add.field).touched">
        <div [hidden]="addForm.get(add.field).valid || addForm.get(add.field).untouched">
          <span [hidden]="!addForm.hasError('required', add.field)">必填</span>
        </div>
      </div>
      <div class="form-group">
        <label>对应模块的父id: &nbsp;</label>
        <select #modal_id (change)="SelectAddModalPid(modal_id.value)" class="form-control">
          <option [value]="-1">默认值为 -1</option>
          <option *ngFor="let modal of FmodalFid" [value]="modal.id">{{modal.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>请选择所属组织id: &nbsp;</label>
        <select #modal_id (change)="SelectAddModalOid(modal_id.value)" class="form-control">
          <option [value]="null">默认为空，请选择</option>
          <option *ngFor="let modal of Fmodalid" [value]="modal.id">{{modal.name}}</option>
        </select>
      </div>
      <br>
    </form>
    <div class="clearfix"></div>
    <div class="text-center">
      <span *ngIf="inputvalid" class="remind">无效输入,请检查你的输入</span>
    </div>
    <div class="text-center">
      <button type="button" class="btn btn-info" aria-label="Close" (click)="modalAdd()">
        确定增加
      </button>
      <button type="button" class="btn btn-danger" aria-label="Close" (click)="modalRef.hide()">
        返回
      </button>
    </div>
    <br>
  </div>
</ng-template>
<ng-template #modify>
  <div class="modal-header">
    <h4 class="modal-title pull-left">接口数据修改</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" [formGroup]="modifyForm">
      <div class="form-group" *ngFor="let modify of fieldsModify">
        <label>{{modify.name}}:</label>
        <input type="text" formControlName="{{modify.field}}" class="form-control" [class.hasError]="modifyForm.get(modify.field).invalid && modifyForm.get(modify.field).touched">
        <div [hidden]="modifyForm.get(modify.field).valid || modifyForm.get(modify.field).untouched">
          <span [hidden]="!modifyForm.hasError('required', modify.field)">必填</span>
        </div>
      </div>
      <div class="form-group">
        <label>对应id的父id: &nbsp;</label>
        <select #modal_id (change)="SelectModifyModalPid(modal_id.value)" class="form-control">
          <option *ngFor="let modal of FmodalFid" [selected]="modal.id === modifyForm.get('pid').value" [value]="modal.id">{{modal.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>所属组织id: &nbsp;</label>
        <select #modal_id (change)="SelectModifyModalOid(modal_id.value)" class="form-control">
          <option *ngFor="let modal of Fmodalid" [selected]="modal.id === modifyForm.get('oid').value" [value]="modal.id">{{modal.name}}</option>
        </select>
      </div>
      <br>
    </form>
    <div class="clearfix"></div>
    <div class="text-center">
      <span *ngIf="inputvalid" class="remind">无效输入,请检查你的输入</span>
    </div>
    <div class="text-center">
      <button type="button" class="btn btn-info" aria-label="Close" (click)="modalModify()">
        确定修改
      </button>
      <button type="button" class="btn btn-danger" aria-label="Close" (click)="modalRef.hide()">
        返回
      </button>
    </div>
    <br>
  </div>
</ng-template>
<ng-template #lookdesc>
  <div class="modal-header">
    <h4 class="modal-title pull-left">生产线查看详情</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>模块id(唯一标识): {{detail['id']}}</p>
    <p>模块名称:{{detail['name']}}</p>
    <p>对应id的父id :{{detail['pid']}}</p>
    <p>描述 :{{detail['description']}}</p>
    <p>模块代号 :{{detail['mcode']}}</p>
    <p>所属组织id :{{detail['oid']}}</p>
    <p>信息插入时间 :{{detail['idt']}}</p>
    <p>信息更新时间 :{{detail['udt']}}</p>
    <div class="clearfix"></div>
    <div class="text-center">
      <button type="button" class="btn btn-info" aria-label="Close" (click)="modalRef.hide(); openModal(modify)">
        跳转到修改
      </button>
      <button type="button" class="btn btn-danger" aria-label="Close" (click)="modalRef.hide()">
        返回
      </button>
    </div>
    <div class="clearfix"></div>
  </div>
</ng-template>

<div [hidden]="openstatus">
  <div class="status text-center"  [class.success]="status === 10" [class.fail]="status === 11 || status === 13 || status === 12">
    <span>{{resMessage}}</span>
  </div>
</div>
