<div class="modalManager" (click)="cleanScreen()">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 index">
        模块数据
      </div>
    </div>
    <div class="row options">
      <div class="col-xs-12">
        <button type="button" class="btn btn-default" (click)="openModal(add, -1)"><span class="glyphicon glyphicon-plus"></span>增加</button>
        <button type="button" class="btn btn-default" (click)="delete()"><span class="glyphicon glyphicon-trash"></span>删除</button>
        <button type="button" class="btn btn-default" (click)="openModal(modify, -1)"><span class="glyphicon glyphicon-pencil"></span>修改</button>
        <span *ngIf="baseVar.gtOne" class="remind">请至少选择一项进行操作</span>
        <span *ngIf="baseVar.mustOne" class="remind">请选择一项进行操作</span>
      </div>
    </div>
    <div class="row content">
      <div class="col-xs-12">
        <table class="table table-responsive table-bordered">
          <thead>
          <tr>
            <th class="checkboxoption"><input type="checkbox" (click)="checkAll($event)">全选/全不选</th>
            <th>模块编号</th>
            <th>模块名称</th>
            <th>父ID</th>
            <th>描述</th>
            <th>模块代号</th>
            <th>所属组织ID</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let list of datas; let i = index" (click)="openModal(lookdesc, i)" title="点击查看详情">
            <td><input type="checkbox" (click)="checkOne($event, list)"></td>
            <td>{{list['id']}}</td>
            <td>{{list['name']}}</td>
            <td>{{list['pid']}}</td>
            <td>{{list['description']}}</td>
            <td>{{list['mcode']}}</td>
            <td>{{list['oid']}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-xs-12">
        <app-paging  [num]="baseVar.totalPage" (pageBodyChange)="getPageBody($event)"></app-paging>
      </div>
    </div>
  </div>
</div>

<!--模态框-->
<ng-template #add>
  <div class="modal-header">
    <h4 class="modal-title pull-left">模块数据增加</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" [formGroup]="addForm">
      <div class="form-group" *ngFor="let add of fieldsAdd">
        <label>{{add.name}}</label>
        <input [type]="add.type" class="form-control" formControlName="{{add.field}}" [class.hasError]="addForm.get(add.field).invalid && addForm.get(add.field).touched">
        <div [hidden]="addForm.get(add.field).valid || addForm.get(add.field).untouched"  class="validField">
          <div *ngFor="let valid of add.validators">
            <span *ngIf="addForm.get(add.field).hasError(valid.validField)">{{valid.msg}}</span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>请选择所属父模块: &nbsp;</label>
        <select #addPid (change)="selectAddModalPid(addPid.value)" class="form-control">
          <option [value]="-1">默认值为 -1</option>
          <option *ngFor="let modal of FmodalFid" [value]="modal.id">{{modal.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>请选择所属组织机构: &nbsp;</label>
        <select #addOid (change)="selectAddModalOid(addOid.value)" class="form-control">
          <option [value]="null">默认为空，请选择</option>
          <option *ngFor="let modal of Fmodalid" [value]="modal.id">{{modal.name}}</option>
        </select>
      </div>
      <br>
    </form>
    <div class="clearfix"></div>
    <div class="text-center">
      <span *ngIf="baseVar.invalidInput" class="remind">无效输入,请检查你的输入</span>
    </div>
    <div class="text-center">
      <button type="button" class="btn btn-info" aria-label="Close" (click)="save()">
        确定增加
      </button>
      <button type="button" class="btn btn-danger" aria-label="Close" (click)="closeModal()">
        返回
      </button>
    </div>
    <br>
  </div>
</ng-template>
<ng-template #modify>
  <div class="modal-header">
    <h4 class="modal-title pull-left">接口数据修改</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" [formGroup]="modifyForm">
      <div class="form-group" *ngFor="let modify of fieldsModify">
        <label>{{modify.name}}</label>
        <input [type]="modify.type" class="form-control" formControlName="{{modify.field}}" [class.hasError]="modifyForm.get(modify.field).invalid && modifyForm.get(modify.field).touched">
        <div [hidden]="modifyForm.get(modify.field).valid || modifyForm.get(modify.field).untouched"  class="validField">
          <div *ngFor="let valid of modify.validators">
            <span *ngIf="modifyForm.get(modify.field).hasError(valid.validField)">{{valid.msg}}</span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>所属父模块: &nbsp;</label>
        <select #modifyPid (change)="selectModifyModalPid(modifyPid.value)" class="form-control">
          <option [value]="detail.pid" selected>{{detail.name}}</option>
          <option *ngFor="let modal of FmodalFid" [selected]="modal.id === detail.pid" [value]="modal.id">{{modal.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>所属组织机构: &nbsp;</label>
        <select #modifyOid (change)="selectModifyModalOid(modifyOid.value)" class="form-control">
          <option *ngFor="let modal of Fmodalid" [selected]="modal.id === modifyForm.get('oid').value" [value]="modal.id">{{modal.name}}</option>
        </select>
      </div>
      <br>
    </form>
    <div class="clearfix"></div>
    <div class="text-center">
      <span *ngIf="baseVar.invalidInput" class="remind">无效输入,请检查你的输入</span>
    </div>
    <div class="text-center">
      <button type="button" class="btn btn-info" aria-label="Close" (click)="update()">
        确定修改
      </button>
      <button type="button" class="btn btn-danger" aria-label="Close" (click)="closeModal()">
        返回
      </button>
    </div>
    <br>
  </div>
</ng-template>
<ng-template #lookdesc>
  <div class="modal-header">
    <h4 class="modal-title pull-left">生产线查看详情</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>模块编号(唯一标识): {{detail['id']}}</p>
    <p>模块名称:{{detail['name']}}</p>
    <p>
      <span *ngFor="let f of FmodalFid" [hidden]="!(f.id === detail.pid)">父模块ID&nbsp; : &nbsp;	{{f.id}},&nbsp;&nbsp;&nbsp;父模块名称&nbsp;:&nbsp;{{f.name}}</span>
    </p>
    <p>描述 :{{detail['description']}}</p>
    <p>模块编号 :{{detail['mcode']}}</p>
    <p>
      <span *ngFor="let organization of Fmodalid['organizations']" [hidden]="!(organization.id === detail.oid)">机构编号&nbsp; : &nbsp;	{{organization.id}},&nbsp;&nbsp;&nbsp;机构名称&nbsp;:&nbsp;{{organization.name}}</span>
    </p>
    <p>信息插入时间 :{{detail['idt']}}</p>
    <p>信息更新时间 :{{detail['udt']}}</p>
    <div class="clearfix"></div>
    <div class="text-center">
      <button type="button" class="btn btn-info" aria-label="Close" (click)="closeModal(); openModal(modify, -1)">
        跳转到修改
      </button>
      <button type="button" class="btn btn-danger" aria-label="Close" (click)="closeModal()">
        返回
      </button>
    </div>
    <div class="clearfix"></div>
  </div>
</ng-template>

<div [hidden]="baseVar.openStatus">
  <div class="status text-center"  [class.success]="baseVar.state === 10" [class.fail]="baseVar.state === 11 || baseVar.state === 13 || baseVar.state === 12">
    <span>{{baseVar.resMsg}}</span>
  </div>
</div>
