<div class="produtionsensor" (click)="cleanScreen()">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 index">
        传感器
      </div>
    </div>
    <div class="row options">
      <div class="col-xs-12">
        <button type="button" class="btn btn-default" (click)="openModal(add, -1)"><span class="glyphicon glyphicon-plus"></span>增加</button>
        <button type="button" class="btn btn-default" (click)="deleteProSensor()"><span class="glyphicon glyphicon-trash"></span>删除</button>
        <button type="button" class="btn btn-default" (click)="openModal(modify, -1)"><span class="glyphicon glyphicon-pencil"></span>修改</button>
        <span *ngIf="gtone" class="remind">请至少选着一项进行操作</span>
        <span *ngIf="mustone" class="remind">请选择一项进行操作</span>
      </div>
    </div>
    <div class="row content">
      <div class="col-xs-12">
        <table class="table table-responsive table-bordered">
          <thead>
          <tr>
            <th class="checkboxoption"><input type="checkbox" checked="{{checked}}" (click)="getAllCheckBoxStatus($event)">全选/全不选</th>
            <th>sid</th>
            <th>名称</th>
            <th>类型</th>
            <th>数据类型</th>
            <th>变量地址</th>
            <th>状态</th>
            <th>数值最大值</th>
            <th>初始值</th>
            <th>设备id</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let prosensor of datas; let i = index" (click)="openModal(lookdesc, i)" title="点击查看详情">
            <td><input type="checkbox" checked="{{checked}}" (click)="getCheckBoxStatus($event, i)"></td>
            <td>{{prosensor.sid}}</td>
            <td>{{prosensor.sname}}</td>
            <td>{{prosensor.stype}}</td>
            <td>{{prosensor.sdatatype}}</td>
            <td>{{prosensor.saddress}}</td>
            <td>{{prosensor.sstatus}}</td>
            <td>{{prosensor.smax}}</td>
            <td>{{prosensor.initialvalue}}</td>
            <td>{{prosensor.did}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-xs-12">
        <app-paging  [num]="num" (pageBodyChange)="getPageBody($event)"></app-paging>
      </div>
    </div>
  </div>
</div>

<!--模态框-->
<ng-template #add>
  <div class="modal-header">
    <h4 class="modal-title pull-left">增加</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" [formGroup]="addForm">
      <div class="form-group" *ngFor="let add of fieldsAdd">
        <label>{{add.name}}:</label>
        <input type="text" formControlName="{{add.field}}" class="form-control" [class.hasError]="addForm.get(add.field).invalid && addForm.get(add.field).touched">
        <div [hidden]="addForm.get(add.field).valid || addForm.get(add.field).untouched">
          <span [hidden]="!addForm.hasError('required', add.field)">必填</span>
        </div>
      </div>
      <div class="form-group">
        <label>请选择设备id: &nbsp;</label>
        <select #modal_id (change)="SelectAddModalId(modal_id.value)" class="form-control">
          <option [value]="null">默认值为空，请选择</option>
          <option *ngFor="let modal of Fmodalid" [value]="modal.did">{{modal.name}}</option>
        </select>
      </div>
      <br>
    </form>
    <div class="clearfix"></div>
    <div class="text-center">
      <span *ngIf="inputvalid" class="remind">无效输入,请检查你的输入</span>
    </div>
    <div class="text-center">
      <button type="button" class="btn btn-info" aria-label="Close" (click)="proSensorAdd()">
        确定增加
      </button>
      <button type="button" class="btn btn-danger" aria-label="Close" (click)="closeModal()">
        返回
      </button>
    </div>
    <br>
  </div>
</ng-template>
<ng-template #modify>
  <div class="modal-header">
    <h4 class="modal-title pull-left">修改</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" [formGroup]="modifyForm">
      <div class="form-group" *ngFor="let modify of fieldsModify">
        <label>{{modify.name}}:</label>
        <input type="text" formControlName="{{modify.field}}" class="form-control" [class.hasError]="modifyForm.get(modify.field).invalid && modifyForm.get(modify.field).touched">
        <div [hidden]="modifyForm.get(modify.field).valid || modifyForm.get(modify.field).untouched">
          <span [hidden]="!modifyForm.hasError('required', modify.field)">必填</span>
        </div>
      </div>
      <div class="form-group">
        <label>设备id: &nbsp;</label>
        <select #modal_id (change)="SelectModifyModalId(modal_id.value)" class="form-control">
          <option *ngFor="let modal of Fmodalid" [selected]="modal.did === detail.did" [value]="modal.did">{{modal.name}}</option>
        </select>
      </div>
      <br>
    </form>
    <div class="clearfix"></div>
    <div class="text-center">
      <span *ngIf="inputvalid" class="remind">无效输入,请检查你的输入</span>
    </div>
    <div class="text-center">
      <button type="button" class="btn btn-info" aria-label="Close" (click)="proSensorModify()">
        确定修改
      </button>
      <button type="button" class="btn btn-danger" aria-label="Close" (click)="closeModal()">
        返回
      </button>
    </div>
    <br>
  </div>
</ng-template>
<ng-template #lookdesc>
  <div class="modal-header">
    <h4 class="modal-title pull-left">查看详情</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>sid	:&nbsp;{{detail.sid}}</p>
    <p>名称:&nbsp;	{{detail.sname}}</p>
    <p>类型:&nbsp;	{{detail.stype}}</p>
    <p>数据类型:&nbsp;	{{detail.sdatatype}}</p>
    <p>变量地址:&nbsp;	{{detail.saddress}}</p>
    <p>状态:&nbsp;	{{detail.sstatus}}</p>
    <p>数值最大值:&nbsp;	{{detail.smax}}</p>
    <p>初始值:&nbsp;	{{detail.initialvalue}}</p>
    <p>设备id:&nbsp;	{{detail.did}}</p>
    <p>插入时间:&nbsp;	{{detail.idt}}</p>
    <p>更新时间:&nbsp;	{{detail.udt}}</p>
    <div class="clearfix"></div>
   <div class="text-center">
     <button type="button" class="btn btn-info" aria-label="Close" (click)="modalRef.hide();openModal(modify)">
       跳转到修改
     </button>
     <button type="button" class="btn btn-danger" aria-label="Close" (click)="closeModal()">
       返回
     </button>
   </div>
  </div>
</ng-template>

<div [hidden]="openstatus">
  <div class="status text-center"  [class.success]="status !== 0 && status === 10" [class.fail]="status === 11 || status === 13 || status === 12">
    <span>{{resMessage}}</span>
  </div>
</div>
