<div class="container-fluid" style="padding-top: 10px;" (click)="cleanScreen()">
  <div class="main" style="border: 1px solid #acacac">
    <div class="row" style="padding: 0px 16px;">
      <div class="col-md-12 col-xs-12 title">组织管理</div>
    </div>
    <div class="row" style="background-color: #efefef;margin: 0 1px;">
      <div class="button">
        <div class="col-xs-12">
          <button type="button" class="btn btn-default" (click)="openModal(add, -1)"><span class="fa fa-add"></span>增加</button>
          <button type="button" class="btn btn-default"  (click)="delete()"><span class="fa fa-trash-o" ></span>删除</button>
          <button type="button" class="btn btn-default" (click)="openModal(modify, -1)"><span class="fa fa-edit"></span>修改</button>
          <span *ngIf="baseVar.gtOne" class="remind">请至少选择一项进行操作</span>
          <span *ngIf="baseVar.mustOne" class="remind">请选择一项进行操作</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-responsive">
          <thead>
          <tr>
            <th class="checkboxoption" ><input type="checkbox" (click)="checkAll($event)">全选/全不选</th>
            <th>机构编号</th>
            <th>机构名称</th>
            <th>机构编码</th>
            <th>机构类型</th>
            <th>联系电话</th>
            <th>父机构</th>
            <th>插入时间</th>
            <th>更新时间</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let list of datas;let i=index;" (click)="openModal(lookdesc, i)" title="点击查看详情">
            <td><input type="checkbox"(click)="checkOne($event, list)"></td>
            <td>{{list['id']}}</td>
            <td>{{list['name']}}</td>
            <td>{{list['code']}}</td>
            <td>{{list['otype']}}</td>
            <td>{{list['tel']}}</td>
            <td>{{list['pid']}}</td>
            <td>{{list['idt']}}</td>
            <td>{{list['udt']}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-xs-12">
        <app-paging  [num]="baseVar.totalPage" (pageBodyChange)="getPageBody($event)"></app-paging>
      </div>
    </div>
  </div>
</div>

<!--增加的模态框-->
<ng-template #add>
  <div class="modal-header">
    <h4 class="modal-title pull-left">组织增加</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="forms" [formGroup]="addForm">
      <div class="form-group" *ngFor="let add of fieldsAdd">
        <label>{{add.name}}</label>
        <input [type]="add.type" class="form-control" formControlName="{{add.field}}" [class.hasError]="addForm.get(add.field).invalid && addForm.get(add.field).touched">
        <div [hidden]="addForm.get(add.field).valid || addForm.get(add.field).untouched"  class="validField">
          <div *ngFor="let valid of add.validators">
            <span *ngIf="addForm.get(add.field).hasError(valid.validField)">{{valid.msg}}</span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>请选择所属父机构: &nbsp;</label>
        <select #modal_id (change)="SelectAddModalId(modal_id.value)" class="form-control">
          <option value="-1">最高层</option>
          <option *ngFor="let organization of Fmodalid" [value]="organization.id">{{organization.name}}</option>
        </select>
      </div>
    </form>
    <div class="clearfix"></div>
    <div class="text-center">
      <span *ngIf="baseVar.invalidInput" class="remind">无效输入,请检查你的输入</span>
    </div>
    <div class="btn-box text-center">
      <button type="submit" class="btn btn-info" (click)="save()">确定增加</button>
      <button type="button" class="btn btn-danger" (click)="closeModal()">取消</button>
    </div>
  </div>
</ng-template>

<!--修改的模态框-->
<ng-template #modify>
  <div class="modal-header">
    <h4 class="modal-title pull-left">部门修改</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="forms" [formGroup]="modifyForm">
      <div class="form-group" *ngFor="let modify of fieldsModify">
        <label>{{modify.name}}</label>
        <input [type]="modify.type" class="form-control" formControlName="{{modify.field}}" [class.hasError]="modifyForm.get(modify.field).invalid && modifyForm.get(modify.field).touched">
        <div [hidden]="modifyForm.get(modify.field).valid || modifyForm.get(modify.field).untouched"  class="validField">
          <div *ngFor="let valid of modify.validators">
            <span *ngIf="modifyForm.get(modify.field).hasError(valid.validField)">{{valid.msg}}</span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>所属父机构: &nbsp;</label>
        <select #modal_id (change)="SelectModifyModalId(modal_id.value)" class="form-control">
          <option value="-1">最高层</option>
          <option *ngFor="let organization of Fmodalid" [selected]="organization.id === modifyForm.get('pid').value" [value]="organization.id">{{organization.name}}</option>
        </select>
      </div>
    </form>
    <div class="clearfix"></div>
    <div class="text-center">
      <span *ngIf="baseVar.invalidInput" class="remind">无效输入,请检查你的输入</span>
    </div>
    <div class="btn-box text-center">
      <button type="submit" class="btn btn-info" (click)="update()">确定</button>
      <button type="button" class="btn btn-danger" (click)="closeModal()">取消</button>
    </div>
  </div>
</ng-template>

<!--查看的模态框-->
<ng-template #lookdesc>
  <div class="modal-header">
    <h4 class="modal-title pull-left">机构查看</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>机构编号&nbsp; : &nbsp;	{{detail.id}}</p>
    <p>名称&nbsp; : &nbsp;	{{detail.name}}</p>
    <p>机构编码&nbsp; : &nbsp;	{{detail.code}}</p>
    <p>机构类型&nbsp; : &nbsp;	{{detail.otype}}</p>
    <p>联系电话&nbsp; : &nbsp;	{{detail.tel}}</p>
    <p>传真号码&nbsp; : &nbsp;	{{detail.fax}}</p>
    <p>机构地址&nbsp; : &nbsp;	{{detail.address}}</p>
    <p>单位邮箱&nbsp; : &nbsp;	{{detail.email}}</p>
    <p>法人电话&nbsp; : &nbsp;	{{detail.corpphone}}</p>
    <p>法人代表&nbsp; : &nbsp;	{{detail.corpname}}</p>
    <p>成立日期&nbsp; : &nbsp;	{{detail.registerdate}}</p>
    <p>邮编&nbsp; : &nbsp;	{{detail.zipcode}}</p>
    <p>
      <span *ngFor="let organization of Fmodalid" [hidden]="!(organization.id === detail.pid)">父机构编号&nbsp; : &nbsp;	{{organization.id}},&nbsp;&nbsp;&nbsp;父机构名称&nbsp;:&nbsp;{{organization.name}}</span>
    </p>
    <p>插入时间&nbsp; : &nbsp;	{{detail.idt}}</p>
    <p>更新时间&nbsp; : &nbsp;	{{detail.udt}}</p>
    <div class="clearfix"></div>
    <div class="btn-box text-center">
      <button type="submit" class="btn btn-info" (click)="closeModal();openModal(modify, -1)">跳转到修改</button>
      <button type="button" class="btn btn-danger" (click)="closeModal()">取消</button>
    </div>
  </div>
</ng-template>

<div [hidden]="baseVar.openStatus">
  <div class="status text-center"  [class.success]="baseVar.state !== 0 && baseVar.state === 10" [class.fail]="baseVar.state === 11 || baseVar.state === 13 || baseVar.state === 12">
    <span>{{baseVar.resMsg}}</span>
  </div>
</div>
