<div class="container-fluid" (click)="cleanScreen()">
  <div class="main" style="border: 1px solid #acacac">
    <div class="row" style="padding: 0px 16px;">
      <div class="col-md-12 col-xs-12 title">摄像头组管理</div>
    </div>
    <div class="clearfix"></div>
    <div class="row" style="background-color: #efefef;margin: 0 1px;">
      <div class="col-xs-12">
        <button type="button" class="btn btn-default" (click)="openModal(add, -1)"><span class="fa fa-plus"></span>增加</button>
        <button type="button" class="btn btn-default" (click)="delete()"><span class="fa fa-trash-o" ></span>组删除</button>
        <button type="button" class="btn btn-default" (click)="openModal(modify, -1)"><span class="fa fa-edit"></span>修改</button>
        <span *ngIf="baseVar.gtOne" class="remind">请至少选择一项进行操作</span>
        <span *ngIf="baseVar.mustOne" class="remind">请选择一项进行操作</span>
        <!--<div class="pull-right">-->
          <!--<span>请选择生产线:</span>-->
          <!--<select name="selectProLineId" #selectProLineId (change)="selectProLine(selectProLineId.value)" class="selectProLineId">-->
            <!--<option *ngFor="let line of proLineids" [value]="line.sid">{{line.name}}</option>-->
          <!--</select>-->
        <!--</div>-->
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-responsive">
          <thead>
          <tr>
            <th class="checkboxoption"><input type="checkbox" (click)="checkAll($event)">全选/全不选</th>
            <th>摄像机组编号</th>
            <th>摄像机组名称</th>
            <th>摄像机组创建人</th>
            <th>摄像机组状态</th>
            <th>所属部门ID</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of datas; let i = index" (click)="openModal(lookdesc, i)" title="点击查看详情">
            <td><input type="checkbox" (click)="checkOne($event, data)"></td>
            <td>{{data['id']}}</td>
            <td>{{data['value']}}</td>
            <td>{{data['creator']}}</td>
            <td>{{data['status']}}</td>
            <td>{{data['pId']}}</td>
            <td><a [routerLink]="['./camera', data['id']]">进入摄像机组</a></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-xs-12">
        <app-paging  [num]="baseVar.totalPage" (pageBodyChange)="getPageBody($event)"></app-paging>
      </div>
    </div>
  </div>
</div>


<!--增加的模态框-->
<ng-template #add>
  <div class="modal-header">
    <h4 class="modal-title pull-left">摄像机组增加</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="forms" [formGroup]="addForm">
      <div class="form-group" *ngFor="let add of fieldsAdd">
        <label>{{add.name}}</label>
        <input [type]="add.type" class="form-control" formControlName="{{add.field}}" [class.hasError]="addForm.get(add.field).invalid && addForm.get(add.field).touched">
        <div [hidden]="addForm.get(add.field).valid || addForm.get(add.field).untouched"  class="validField">
          <div *ngFor="let valid of add.validators">
            <span *ngIf="addForm.get(add.field).hasError(valid.validField)">{{valid.msg}}</span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>状态: &nbsp;</label>
        <select #addModalId (change)="selectStatus(addModalId.value, addForm)" class="form-control">
          <option [value]="null">默认值为空，请选择</option>
          <option *ngFor="let sta of cameraGroupStatus" [value]="sta.status">{{sta.msg}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>请选择所属部门: &nbsp;</label>
        <select #a_departmentId (change)="selectModalId(a_departmentId.value, addForm)" class="form-control">
          <option [value]="null">默认值为空，请选择</option>
          <option *ngFor="let modal of Fmodalid.departments" [value]="modal.id">{{modal.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>请选择所属生产线: &nbsp;</label>
        <select #a_lineId (change)="selectLineId(a_lineId.value, addForm)" class="form-control">
          <option [value]="null">默认值为空，请选择</option>
          <option *ngFor="let line of proLineids" [value]="line.sid">{{line.name}}</option>
        </select>
      </div>
      <div class="clearfix"></div>
      <div class="text-center">
        <span *ngIf="baseVar.invalidInput" class="remind">无效输入,请检查你的输入</span>
      </div>
      <div class="btn-box text-center">
        <button type="submit" class="btn btn-info" (click)="save()">确定增加</button>
        <button type="button" class="btn btn-danger" (click)="closeModal()">取消</button>
      </div>
    </form>
  </div>
</ng-template>

<!--修改的模态框-->
<ng-template #modify>
  <div class="modal-header">
    <h4 class="modal-title pull-left" >摄像机组修改</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="forms" [formGroup]="modifyForm">
      <div class="form-group" *ngFor="let modify of fieldsModify">
        <label>{{modify.name}}</label>
        <input [type]="modify.type" class="form-control" formControlName="{{modify.field}}" [class.hasError]="modifyForm.get(modify.field).invalid && modifyForm.get(modify.field).touched">
        <div [hidden]="modifyForm.get(modify.field).valid || modifyForm.get(modify.field).untouched"  class="validField">
          <div *ngFor="let valid of modify.validators">
            <span *ngIf="modifyForm.get(modify.field).hasError(valid.validField)">{{valid.msg}}</span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>状态: &nbsp;</label>
        <select #addModalId (change)="selectStatus(addModalId.value, modifyForm)" class="form-control">
          <option [value]="null">默认值为空，请选择</option>
          <option *ngFor="let sta of cameraGroupStatus" [selected]="detail.status === sta.status" [value]="sta.status">{{sta.msg}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>所属部门: &nbsp;</label>
        <select #m_departmentId (change)="selectModalId(m_departmentId.value, modifyForm)" class="form-control">
          <option *ngFor="let modal of Fmodalid.departments" [selected]="modal.id === detail.pId" [value]="modal.id">{{modal.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>所属生产线: &nbsp;</label>
        <select #m_lineId (change)="selectLineId(m_lineId.value, modifyForm)" class="form-control">
          <option *ngFor="let line of proLineids" [selected]="line.sid === detail.proSystem" [value]="line.sid">{{line.name}}</option>
        </select>
      </div>
      <div class="clearfix"></div>
      <div class="text-center">
        <span *ngIf="baseVar.invalidInput" class="remind">无效输入,请检查你的输入</span>
      </div>
      <div class="btn-box text-center">
        <button type="submit" class="btn btn-info" (click)="update()">确定修改</button>
        <button type="button" class="btn btn-danger" (click)="closeModal()">取消</button>
      </div>
    </form>
  </div>
</ng-template>

<!--查看的模态框-->
<ng-template #lookdesc>
  <div class="modal-header">
    <h4 class="modal-title pull-left" >摄像机查看</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <p>摄像机组编号&nbsp; : &nbsp;	{{detail?.id}}</p>
      <p>摄像机组名称&nbsp; : &nbsp;	{{detail?.value}}</p>
      <p>摄像机组创建人&nbsp; : &nbsp;	{{detail?.creator}}</p>
      <p>
        <span *ngIf="detail.status === 1">摄像机组状态&nbsp; : &nbsp;	开启</span>
        <span *ngIf="detail.status === 0">摄像机组状态&nbsp; : &nbsp;	停用</span>
      </p>
      <p>摄像机组部门编号&nbsp; : &nbsp;	{{detail?.id}}</p>
      <p *ngFor="let line of proLineids">
        <span *ngIf="line.sid === detail.proSystem">生产线&nbsp; : &nbsp;{{line.name}}&nbsp;|&nbsp;	生产线编号&nbsp; : &nbsp;	{{line.sid}}</span>
      </p>
      <div class="clearfix"></div>
      <div class="btn-box text-center">
        <button type="submit" class="btn btn-info" (click)="closeModal();openModal(modify, -1)">跳转到修改</button>
        <button type="button" class="btn btn-danger" (click)="closeModal()">取消</button>
      </div>
    </div>
  </div>
</ng-template>

<div [hidden]="baseVar.openStatus">
  <div class="status text-center"  [class.success]="baseVar.state === 10" [class.fail]="baseVar.state === 11 ||baseVar.state === 12 || baseVar.state === 13 || baseVar.state === 14">
    <span>{{baseVar.resMsg}}</span>
  </div>
</div>
