<div class="container-fluid">
  <div class="main" style="border: 1px solid #acacac">
    <div class="row" style="padding: 0px 16px;">
      <div class="col-md-12 col-xs-12 title">摄像头组管理</div>
    </div>
    <div class="clearfix"></div>
    <div class="row" style="background-color: #efefef;margin: 0 1px;">
      <div class="col-xs-12">
        <button type="button" class="btn btn-default" (click)="openModal(add, -1)"><span class="fa fa-plus"></span>增加</button>
        <button type="button" class="btn btn-default" (click)="delete()"><span class="fa fa-trash-o" ></span>组删除</button>
        <button type="button" class="btn btn-default" (click)="openModal(modify, -1)"><span class="fa fa-edit"></span>修改</button>
        <span *ngIf="gtone" class="remind">请至少选着一项进行操作</span>
        <span *ngIf="mustone" class="remind">请选择一项进行操作</span>
        <!--<div class="pull-right">-->
          <!--<span>请选择生产线:</span>-->
          <!--<select name="selectProLineId" #selectProLineId (change)="selectProLine(selectProLineId.value)" class="selectProLineId">-->
            <!--<option *ngFor="let line of proLineids" [value]="line.sid">{{line.name}}</option>-->
          <!--</select>-->
        <!--</div>-->
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-responsive">
          <thead>
          <tr>
            <th class="checkboxoption"><input type="checkbox" checked="{{checked}}" (click)="getAllCheckBoxStatus($event)">全选/全不选</th>
            <th>摄像机组名称</th>
            <th>摄像机组id</th>
            <th>摄像机组创建人</th>
            <th>摄像机组状态</th>
            <th>所属部门ID</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let list of datas; let i = index" (click)="openModal(lookdesc, i)" title="点击查看详情">
            <td><input type="checkbox" checked="{{checked}}" (click)="getCheckBoxStatus($event, i)"></td>
            <td>{{list['value']}}</td>
            <td>{{list['id']}}</td>
            <td>{{list['creator']}}</td>
            <td>{{list['status']}}</td>
            <td>{{list['p_id']}}</td>
            <td><a [routerLink]="['./camera', list['id']]">进入摄像机组</a></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-xs-12">
        <app-paging  [num]="num" (pageBodyChange)="getPageBody($event)"></app-paging>
      </div>
    </div>
  </div>
</div>


<!--增加的模态框-->
<ng-template #add>
  <div class="modal-header">
    <h4 class="modal-title pull-left">摄像机组增加</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="forms" [formGroup]="addForm">
      <div class="form-group">
        <label>摄像头组ID</label>
        <input type="text" class="form-control" formControlName="id" [class.hasError]="addForm.get('id').invalid && addForm.get('id').touched">
        <div [hidden]="addForm.get('id').valid || addForm.get('id').untouched">
          <span [hidden]="!addForm.hasError('required', 'id')">必填</span>
        </div>
      </div>
      <div class="form-group">
        <label>摄像头组名称</label>
        <input type="text" class="form-control" formControlName="name" [class.hasError]="addForm.get('name').invalid && addForm.get('name').touched">
        <div [hidden]="addForm.get('name').valid || addForm.get('name').untouched">
          <span [hidden]="!addForm.hasError('required', 'name')">必填</span>
        </div>
      </div>
      <div class="form-group">
        <label>组创建人</label>
        <input type="text" class="form-control" formControlName="creator" [class.hasError]="addForm.get('creator').invalid && addForm.get('creator').touched">
        <div [hidden]="addForm.get('creator').valid || addForm.get('creator').untouched">
          <span [hidden]="!addForm.hasError('required', 'creator')">必填</span>
        </div>
      </div>
      <div class="form-group">
        <label>摄像机组状态</label>
        <input type="text" class="form-control" [formControl]="cameraGroupStatus" [class.hasError]="modifyForm.get('status').invalid && modifyForm.get('status').touched">
        <span *ngIf="!cameraGroupStatusPrompt">状态值输入格式不正确,只能为0，1</span>
      </div>
      <div class="form-group">
        <label>所属部门ID: &nbsp;</label>
        <select #modal_id (change)="SelectAddModalId(modal_id.value)" class="form-control">
          <option [value]="null">默认值为空，请选择</option>
          <option *ngFor="let modal of Fmodalid.departments" [value]="modal.id">{{modal.name}}</option>
        </select>
      </div>
      <div class="clearfix"></div>
      <div class="text-center">
        <span *ngIf="inputvalid" class="remind">无效输入,请检查你的输入</span>
      </div>
      <div class="btn-box text-center">
        <button type="submit" class="btn btn-info" (click)="con_add()">确定增加</button>
        <button type="button" class="btn btn-danger" (click)="closeModal()">取消</button>
      </div>
    </form>
  </div>
</ng-template>

<!--修改的模态框-->
<ng-template #modify>
  <div class="modal-header">
    <h4 class="modal-title pull-left" >摄像机组修改</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="forms" [formGroup]="modifyForm">
      <div class="form-group">
        <label>修改摄像机组ID</label>
        <input type="text" class="form-control" formControlName="Update_id" placeholder="请输入修改的摄像机ID">
      </div>
      <div class="form-group">
        <label>摄像机组名称</label>
        <input type="text" class="form-control" formControlName="value" [class.hasError]="modifyForm.get('value').invalid && modifyForm.get('value').touched">
        <div [hidden]="modifyForm.get('value').valid || modifyForm.get('value').untouched">
          <span [hidden]="!modifyForm.hasError('required', 'value')">必填</span>
        </div>
      </div>
      <div class="form-group">
        <label>摄像机组创建人</label>
        <input type="text" class="form-control" formControlName="creator" [class.hasError]="modifyForm.get('creator').invalid && modifyForm.get('creator').touched">
        <div [hidden]="modifyForm.get('creator').valid || modifyForm.get('creator').untouched">
          <span [hidden]="!modifyForm.hasError('required', 'creator')">必填</span>
        </div>
      </div>
      <div class="form-group">
        <label>摄像机组状态</label>
        <input type="text" class="form-control" [formControl]="cameraGroupStatus" [class.hasError]="modifyForm.get('status').invalid && modifyForm.get('status').touched">
        <span *ngIf="!cameraGroupStatusPrompt">状态值输入格式不正确,只能为0，1</span>
      </div>
      <div class="form-group">
        <label>所属部门ID: &nbsp;</label>
        <select #modal_id (change)="selectModalId(modal_id.value)" class="form-control">
          <option *ngFor="let modal of Fmodalid.departments" [selected]="modal.id === detail.p_id" [value]="modal.id">{{modal.name}}</option>
        </select>
      </div>
      <div class="clearfix"></div>
      <div class="text-center">
        <span *ngIf="inputvalid" class="remind">无效输入,请检查你的输入</span>
      </div>
      <div class="btn-box text-center">
        <button type="submit" class="btn btn-info" (click)="con_modify()">确定修改</button>
        <button type="button" class="btn btn-danger" (click)="closeModal()">取消</button>
      </div>
    </form>
  </div>
</ng-template>

<!--查看的模态框-->
<ng-template #lookdesc>
  <div class="modal-header">
    <h4 class="modal-title pull-left" >摄像机查看</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <p>摄像机组ID&nbsp; : &nbsp;	{{detail?.id}}</p>
      <p>摄像机组名称&nbsp; : &nbsp;	{{detail?.value}}</p>
      <p>摄像机组创建人&nbsp; : &nbsp;	{{detail?.creator}}</p>
      <p>摄像机组状态&nbsp; : &nbsp;	{{detail?.status}}</p>
      <p>摄像机组部门id&nbsp; : &nbsp;	{{detail?.id}}</p>
      <div class="clearfix"></div>
      <div class="btn-box text-center">
        <button type="submit" class="btn btn-info" (click)="modalRef.hide();openModal(modify, -1)">跳转到修改</button>
        <button type="button" class="btn btn-danger" (click)="closeModal()">取消</button>
      </div>
    </div>
  </div>
</ng-template>

<div [hidden]="openstatus">
  <div class="status text-center"  [class.success]="status === 10" [class.fail]="status === 11 || status === 13 || status === 14">
    <span>{{resMessage}}</span>
  </div>
</div>
