.productiondata{
  background-color: #e9e9e9;
  color: #000000;
  padding: 14px;
  border-radius: 5px;
}
.productiondata > .container-fluid{
  padding-bottom: 15px;
  border:1px #9a9a9a solid;
}
.content > .col-xs-12{
  padding-left: 0px;
  padding-right: 0px;
}
.index{
  height: 30px;
  line-height: 30px;
  background-color: #ffffff;
}
.modal-body > form > div{
  margin-bottom: 5px;
}
.table-responsive{
  font-size: 14px;
}
.table > thead > tr >  th {
  background-color: #048992;
  color: #ffffff;
}
.table > tbody > tr {
  cursor: pointer;
  background-color: rgba(37,165,255,.1);
  color: #333333;
  border-bottom: 2px solid #b8b8b8;
}
.table > thead > tr > .checkboxoption {
  width: 10vw;
}
.glyphicon{
  margin-right: 1vw;
}
.modal-body{
  padding: 25px;
}
.hasError{
  border: 1px red solid;
}

.status{
  padding: 15px;
  width: 280px;
  height: 45px;
  position: fixed;
  top: 20px;
  left: 45%;
  color: #FFFFFF;
  border-radius: 3px;
  z-index: 1100;
}
.success{
  background: rgba(0,128,125,0.7);
  box-shadow: 2px -2px 2px rgba(0,128,125,0.7) inset;
  border: 1px #008069 solid;
}
.fail{
  background: rgba(200,0,0,0.7);
  box-shadow: 2px -2px 2px rgba(200,0,0,0.9) inset;
  border: 1px #c30000 solid;
}
.remind{
  color: red;
}

/*---------------------------------------------- 与其他组件不相同的样式*/
.year, .mouth, .day, .hour, .minutes {
   text-decoration: black;
   border-bottom: #484a55 solid 1px;
   display: inline-block;
   min-width: 30px;
   padding-left: 5px;
   padding-right: 5px;
   height: 100%;
 }
.year:focus,
.mouth:focus,
.day:focus,
.hour:focus,
.minutes:focus
input:focus,
input{
  /*border: none;*/
  outline: none;
}

.fa-search{
  cursor: pointer;
  width: 50px;
  text-align: center;
  padding: 6px 12px;
}
.fa-search:hover{
  transform: scale(2);
}
.numSearchDiv{
  display: inline-block;
  z-index: 1;
}
.numSearch{
  position: relative;
  background-color: rgba(0,0,0,0.3);
}
.numSearchText{
  position: relative;
  top: 30%;
  border: none;
  padding: 6px 12px;
  background-color: rgba(255,255,255,0.5);
  border-radius: 5px;
}

