.container-fluid {
  position: fixed;
  top: 60px;
  left: 180px;
}
.center-left-top-video{
  width: 100%;
  height: 38vh;
  padding: 0.5vh;
  background-color: black;
  margin-bottom: 3vh;
}
object > embed{
  display: none;
}
.list-group-item{
  border: none;
}
.list-group-item:hover{
  cursor: pointer;
}
.catalog{
  overflow-Y: scroll;
}
