<div class="container-fluid">
  <div class="row">
    <div class="videoRegion col-lg-9 col-md-9 col-sm-9" >
      <div class="row text-center">
        <button type="button" class="controlRoute" (click)="changeRoute()">切换网线</button>
        <span *ngIf="controlRoute">当前的线路:&nbsp;外网</span>
        <span *ngIf="!controlRoute">当前的线路:&nbsp;内网</span>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="center-left-top">
            <div id="window1Title">
              <span>一号监视口</span>
              <!-- 这里有个问题， 当光标放到 class， id属性的属性值时，angular 就会一直刷新，其他也是一样的-->
              <span class="pull-right">{{videoLocation1}}</span>
            </div>
            <div class="center-left-top-video" id="window1">
              <h3>请选择你要查看的摄像头</h3>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="center-left-top">
            <div id="window2Title">
              <span>二号监视口</span>
              <span class="pull-right">{{videoLocation2}}</span>
            </div>
            <div class="center-left-top-video" id="window2">
              <h3>请选择你要查看的摄像头</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="center-left-top">
            <div id="window3Title">
              <span>三号监视口</span>
              <span class="pull-right">{{videoLocation3}}</span>
            </div>
            <div class="center-left-top-video"  id="window3">
              <h3>请选择你要查看的摄像头</h3>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="center-left-top">
            <div id="window4Title">
              <span>四号监视口</span>
              <span class="pull-right">{{videoLocation4}}</span>
            </div>
            <div id="window4" class="center-left-top-video">
              <h3>请选择你要查看的摄像头</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3">
      <!--滚动条-->
      <div class="tree-scrollbar" [ngStyle]="{top: (treeScrollH - 65) + 'px'}"></div>

      <div class="catalog" [ngStyle]="{height:  catalogH + 'px'}">
        <tree (mousemove)="operateScroll($event)" [tree]="tree" (nodeSelected)="logEvent($event)"></tree>
      </div>
    </div>
  </div>
</div>
