<div class="container-fluid" (mousemove)="checkLoginStatus()">
  <div class="row">
    <div class="header">
      <app-header (cisMenuChange)="controlMenus($event)" [cisMenu]="pisMenu"></app-header>
    </div>
  </div>
  <div class="row" [hidden]="pisMenu">
    <div class="sidebar">
      <app-sidebar></app-sidebar>
    </div>
  </div>
  <div class="row">
    <div class="main" style="margin-top: 66px" [ngStyle]="{'margin-left': !pisMenu?'180px':'0px'}">
        <router-outlet></router-outlet>
        <!--<app-dataload style="position: absolute;font-size: 30px; color: red;top: 40%;left: 50%;"></app-dataload>-->
    </div>
  </div>
</div>
